<div class='flex items-center' ...attributes>
  <button
    type='button'
    class='bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white text-sm py-1 px-2 border border-blue-500 hover:border-transparent rounded-full shadow mr-2'
    {{on 'click' this.deploy}}
  >
    Deploy
  </button>

  <button
    type='button'
    class='bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white text-sm py-1 px-2 border border-blue-500 hover:border-transparent rounded-full shadow'
    {{on 'click' this.test}}
  >
    Test
  </button>

  <a
    href="/{{@repo.project}}/config/"
    class='ml-2 bg-white hover:bg-gray-100 text-gray-800 text-sm py-1 px-2 border border-gray-400 rounded-full shadow'
  >
    <FaIcon @icon='cog' @prefix='fas' />
  </a>

  <button
    type='button'
    class='ml-2 bg-white hover:bg-gray-100 text-gray-800 text-sm py-1 px-2 border border-gray-400 rounded-full shadow'
    {{on 'click' @onToggleRecentBuilds}}
  >
    <FaIcon class='mr-2' @icon='tasks' @prefix='fas' />
    Recent Builds
  </button>
</div>