#admin-jobs-status
  .row
    .span4.offset6.form-inline#user-form
      select#user-list
      button.btn#filter Filter

  
  #job-status.row
    #job-list.span10

script.template#job-item-template(type="text/template")
  .row-fluid.job-list-item
    .span2
      | <img src="<%= owner_gravatar_url %>">
    .span10
      .row-fluid
        .span6
          h3 <%= project_name %>
        .span6 
         #commit-id 
           h3 <%= owner %>
      .row-fluid
        .span6
         #repo-branch 
           strong Branch: 
           a master
        .span6 
         #commit-id 
           strong Job: 
           | <a href=<%= job_url %> ><%= job_id.substr(0,8) %></a>
      .row-fluid
        .span6
          #finished-at
            strong Finished: 
            <%= finished_at %>
        .span6
          #build-duration
            strong Running Time: 
            <%= duration  %>s
            
script(src='/javascripts/jobs.js')

script.template#user-item-template(type="text/template")
  | <option value="<%= id %>"><%= email %></option>
  
script(src='/javascripts/users.js')