{% extends "base.html" %}
{% block bodyContent %}
<div class="span12">
  <h3>Admin: Projects</h3>
  <table class="table-bordered table-striped table">
    <thead>
      <tr>
        <th>Account</th>
        <th>Project</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        <tr>
            <td>{{project.user}}</td>
            <td>{{project.name}} <a href="{{project.url}}">github</a></td>
            <td>{{project.created_date}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
