

div.span12
  h3 Admin: Projects
  table.table-bordered.table-striped.table
    thead
      tr
        th Account
        th Project
        th Created Date
    tbody
      each project in projects
        tr
          td #{project.user}
          td #{project.name} (
            a(href="#{project.url}") github
            | )
          td #{project.created_date}


