

div.span8
  h3 Admin: Users
  table.table-bordered.table-striped.table
    thead
      tr
        th Email
        th Created Date
        th Admin?
    tbody
      each user in users
        tr
          td #{user.email}
          td #{user.created_date}
          td 
            - if (user.account_level == 1)
              b YES
            - else
              a(href="/admin/make_admin?user=" + user.email) Make Admin


