<div id="project_config_collaborators" data-widget="/javascripts/apres/widget/collaborators.js" class="widget span8">
  <div class="well">
    <fieldset>
      <legend>Collaborators</legend>
      <div class="alert alert-success hide"></div>
      <p>
        Collaborators will be notified of build success/failure, be
        able to trigger test jobs and deploys, and access job
        details. They will not be permitted to add other new
        collaborators nor change any project configuration.
      </p>
      <div class="row">
        <div class="span4">
          <table>
            <tr class="collaborator" ng-repeat="collab in collaborators">
              <td class="image"><img ng-src="[[ collab.gravatar ]]&s=35"></td>
              <td class="email">[[collab.email]]</td>
              <td class="remove">
                <span class="clickable" ng-click="remove(collab)">
                  <i class="icon-remove"></i>
                </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="span3">
          <div class="control-group">
            <div class="controls">
              <div class="input-append">
                <input type="text" name="new_collaborator" placeholder="email address" class="collab-email span2"/>
                <button class="btn btn-add-collab">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
