<div id="project_config_collaborators" class="well">
  <fieldset>
    <legend>Collaborators</legend>
    <div class="alert alert-success hide"></div>
    <p>
      Collaborators will be notified of build success/failure, be
      able to trigger test jobs and deploys, and access job
      details. They will not be permitted to add other new
      collaborators nor change any project configuration.
    </p>
    <div class="row">
      <div class="span4">
        <table>
          <tr class="collaborator" ng-repeat="collab in collaborators | filter:notOwner">
            <td class="image"><img ng-src="[[ collab.gravatar ]]&s=35"></td>
            <td class="email">[[collab.email]]</td>
            <td class="remove" ng-switch="collab.loading">
              <i ng-switch-when="true" class="icon-cog icon-spin"></i>
              <span ng-switch-default class="clickable" ng-click="remove(collab)">
                <i class="icon-remove"></i>
              </span>
            </td>
          </tr>
          <tr ng-show="noCollaborators()">
            <td colspan="3" class="no-collaborators">No collaborators. Add one!</td>
          </tr>
        </table>
      </div>
      <div class="span3">
        <div class="control-group">
          <div class="controls">
            <div class="input-append">
              <input ng-model="new_email" type="email" name="new_collaborator" placeholder="email address" class="collab-email span2"/>
              <button ng-click="add()" class="btn btn-add-collab">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
