<div class="pick-plugins clearfix">
  <h3>Choose Plugins</h3>
  <p>Drag and drop plugins from Available to Active to enable them for this project. Plugins are run in the order they are specified here. Active plugins can be configured by clicking their corresponding tabs on the left.</p>
  <div class="enabled-plugins">
    <h3>Active Plugins</h3>
    <ul ng-model="branch.plugins" ui-sortable="inUseOptions" class="enabled-plugins-list">
      <li class="plugin-item clearfix" ng-repeat="plugin in branch.plugins" ng-class="{ disabled: !plugin.enabled }">
        <div class="img" style="background-image: url('/ext/[[ plugin.id ]]/[[ plugins[plugin.id].icon ]]')"></div>
        <div class="rest">
          <span class="title">[[ plugins[plugin.id].title ]]</span>
          <label type="checkbox">
            <input ng-change="savePluginOrder()" ng-model="plugin.enabled" type="checkbox"> Enabled
          </label>
          <label type="checkbox" ng-show="statusBlocks.job[plugin.id]">
            <input ng-change="savePluginOrder()" ng-model="plugin.showStatus" type="checkbox"> Show Status
          </label>
        </div>
      </li>
      <li ng-hide="branch.plugins.length" class="drop-here">Drag and drop here</li>
    </ul>
  </div>
  <div class="disabled-plugins">
    <h3>Available Plugins</h3>
    <ul ng-model="disabled_plugins[branch.name]" ui-sortable="{ connectWith: '.enabled-plugins-list' }" class="disabled-plugins-list">
      <li class="plugin-item clearfix" ng-repeat="plugin in disabled_plugins[branch.name]">
        <div class="img" style="background-image: url('/ext/[[ plugin.id ]]/[[ plugins[plugin.id].icon ]]')"></div>
        <div class="rest">
          <span class="title">[[ plugins[plugin.id].title ]]</title>
        </div>
      </li>
      <li ng-hide="disabled_plugins[branch.name].length" class="drop-here">Drag and drop here</li>
    </ul>
  </div>
</div>
{#
Disable for now since there is only one runner.
Once we have multiple runners and this makes sense, bring it back.
<div class="pick-runner clearfix">
  <button ng-click="savePlugins()" class="btn btn-primary save-top-right">Save</button>
  <h3>Pick the Runner</h3>
  {% for runner in runners %}
  <div ng-click="setRunner('{{ loop.key }}')"
       ng-class="{ active: branch.runner.id == '{{ loop.key }}'}"
       class="runner runner-{{ loop.key }}">
    <div class="img" style="background-image: url('/ext/{{ loop.key }}/{{ runner.icon }}')"></div>
    <span class="title">{{ runner.title }}</span>
  </div>
  {% endfor %}
</div>
#}
