<div class="project-config" ng-show="branch.name === 'master'">
  <div id="provider-config" ng-controller="{{ provider.controller }}">
    <h3>Provider: {{ provider.title }}</h3>
    {% autoescape false %}
    {{ provider.html }}
    {% endautoescape %}
  </div>
  <label class="checkbox">
    <input data-test="public" type="checkbox" ng-model="project.public" ng-click="saveProject()"> Public
  </label>
  <p class="help-text">Builds of public projects are visible to anyone</p>
  {% include "config/collaborators.html" %}
  <div>
    <h3>Delete Project</h3>
    <p>
      Permanently remove {{ project.name }} from Strider
    </p>
    <button ng-click="deleting = 'really_delete'" class="btn btn-danger">Delete Project</button>
    <button ng-click="deleteProject()" ng-show="deleting === 'really_delete'" class="btn btn-danger">Really Delete</button>
    <button ng-show="deleting === 'really_delete'" ng-click="deleting = false" class="btn btn-success">Just Kidding</button>
  </div>
</div>
<div class="well" ng-hide="branch.name === 'master'">
  To configure the provider and collaborators,
  <button class="btn" ng-click="switchToMaster()">
    switch to the master branch
  </button>.
</div>
