<div id="project_config_webhooks" class="well">
  <fieldset>
    <legend>Webhooks</legend>
    <div class="alert alert-success hide"></div>
    <p>
      Target URLs will receive a HTTP POST from Strider
      with a JSON payload on each project test run. These
      enable you to receive and process real-time push
      notifications from our system. Push notifications
      are signed cryptographically with HMAC-SHA1 using a
      shared secret so you can verify their
      authenticity. Signatures are transmitted in
      the
      <a href="http://pubsubhubbub.googlecode.com/svn/trunk/pubsubhubbub-core-0.3.html#authednotify">
        X-Signature-Hub header.
      </a>
      <a href="https://gist.github.com/3029840">See a sample payload.</a>
    </p>
    <div class="row-fluid">
      <div class="span9">
        <table class="table">
          <thead>
            <th>Hook Title</th>
            <th>TargetURL for HTTP Post</th>
            <th>Shared secret for HMAC-SHA1 signatire</th>
          </thead>
          <tbody>
            <tr ng-repeat="hook in hooks">
              <td>[[ hook.title ]]</td>
              <td>[[ hook.url ]]</td>
              <td>[[ hook.secret ]]</td>
              <td class="remove" ng-switch="hook.loading">
                <i ng-switch-when="true" class="icon-cog icon-spin"></i>
                <span ng-switch-default class="clickable" ng-click="remove(hook)">
                  <i class="icon-remove"></i>
                </span>
              </td>
            </tr>
            <tr ng-show="!hooks.length" class="no-hooks">
              <td colspan="3">No webhooks registered. Add one!</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <div class="control-group">
          <div class="controls">
            <div class="input-append">
              <input ng-model="new_title"
                     placeholder="Hook title" class="span2"/>
              <input ng-model="new_url" type="text"
                     placeholder="target URL" class="webhook-target-url span2"/>
              <input ng-model="new_secret" type="text"
                     placeholder="HMAC-SHA1 secret" class="webhook-secret span2"/>
            </div>
            <button class="btn" ng-click="add()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
