import Controls from './-components/controls';
import Job from './-components/job';
---hbs---

<h2 class='flex justify-between items-center text-2xl mb-3'>
  <div class="flex items-center">
    {{@model.job.project}}
  </div>
  <Controls @repo={{@model.job}} />
</h2>

{{outlet}}