script.template#heroku-setup(type="text/template)
  .row-fluid
    div#heroku-setup.widget(data-widget="/javascripts/apres/widget/heroku_setup.js").span8
      div.alert.alert-success.hide
      div.content
