script.template#heroku-config(type="text/template)
  div.span8
    div.alert.alert-success.hide
    div.content
      .row-fluid
        .span10
          legend Heroku Settings
        .row-fluid
          .span10
            .well
              h3 
                strong App Name: 
                a(href="http://#{deploy_target.app}.herokuapp.com", target="_blank") #{deploy_target.app}
              br
              div.controlgroup
                div.controls
                  label.checkbox Deploy on Green
                    - if (repo.prod_deploy_target.deploy_on_green)
                      input#deploy-on-green(type="checkbox",checked="1",autocomplete="off")
                    - else
                      input#deploy-on-green(type="checkbox",autocomplete="off")


                  p When tests pass, automatically deploy to Heroku. If this is unchecked, deployments must be triggered manually.       
                button#save-deploy-on-green.btn.btn-primary.form-actions Save Changes
                hr
                .controlgroup
                  h3 Reset Heroku Config
                  p If you would like to stop deploying this repo to Heroku, click the button below.
                  div.controls
                    a#remove-heroku-config.btn.btn-danger Remove Heroku Configuration

