<div class='span11'>
  <div class='row-fluid'>
    <div class='span6'>
      <a href="{{ old.url }}"> {{ old.id }}</a>
    </div>
    <div class="span6">
      <div class="build-item-committer">
        {% if old.triggered_by_commit && old.committer_is_username %}
          <a href="https://github.com/{{old.committer}}">{{ old.committer }}</a> 
        {% else if old.triggered_by_commit %}
          | {{ old.committer }}
          {% else %}
          | N/A
        {% endif %}
        </div>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span6'>
      | {{ old.finished_at }}
    </div>
    <div class='span6'>
      <div class='build-item-duration'>
        <strong> {{ old.duration }}s</strong>
      </div>
    </div>
  </div>
</div>
