p Strider is a hosted continuous delivery platform for Python and Node.js. This demo instance of Strider showcases our new integration with Sauce Labs. 
p Find Adam Christian (
	a(href="http://twitter.com/admc") @admc
	| ) or 
	a(href="mailto:support@striderapp.com") email us 
	| for more information.