<div class="row-fluid">
  <div class = "span12">
    <div class='well'>
      <h3>Brilliant Continuous Deployment.</h3>
      {% include "partials/_strider_copy.html" %}
        <form class='form-inline' action='/register' method='POST'>             
          <input class="xlarge" type='text' name='invite_code' value="{{ invite_code }}" placeholder='Invite Code' /> 
          <input class="xlarge" type='text' name="email" value="{{ email }}" placeholder='Email' />
          <input class="xlarge" type='password' name="password" value="{{ password }}" placeholder='Password' />
          <input class="btn primary" type='submit' value='Register' />
        </form>
    </div>
  </div>
</div>

