<div class='flex items-center justify-center h-screen bg-gray-100'>
  <button
    class='shadow-md hover:shadow-lg hover:bg-green-500 bg-green-400 text-white px-8 py-5 rounded'
  >
    A beautiful button!
  </button>
</div>

{{outlet}}