script.template#configuration_instructions(type="text/template")
  .span8.well
    h3  Manual Setup Instructions for <%= org %>/<%= project %>
    br
    p In order for Strider to work with <%= org %>/<%= project %>, you will need to add a webhook and a deploy key.
    p &nbsp;
    h4 Add the webhook:
    p 1) 
      | <a href='<%= github_url %>/admin/hooks' target="_blank">Click here</a>
      | to navigate to the 'Add Webhook' area on Github for <%= org %>/<%= project %>, then click on 'WebhHook URLs'. It should look like this:
    p 
      img.manual_setup(src='images/github_admin_add_webhook.png', border=1, height="80%",width="80%")
    p 2) Cut and paste this URL into the URL field:
    p 
      | <input class=span6 value ="<%= webhook %>">
    br
    h4 Add the deploy key:
    p 1) 
      | <a href='<%= github_url %>/admin/keys' target="_blank">Click here</a> 
      | to navigate to the 'Deploy Keys' section of Github for <%= org %>/<%= project %>. It should look like this:
    p 
      img.manual_setup(src='images/github_admin_add_deploy_key.png', border=1, height="80%",width="80%")
    p 2) Click the 'Add Deploy Key' button and then copy and paste this title and key into the Github form:
    | <input class="span6" value ="<%= deploy_key_title %>"></input>
    | <span class="clippy"><%= deploy_key_title %></span>
    | <textarea rows="10" id='textarea' class="input-xlarge span6"><%= deploy_public_key %></textarea>
    | <span class="clippy"><%= deploy_public_key %></span>
    .actions
      a.btn.btn-primary.continue Continue
