script.template#enter_github_url(type="text/template")
  .span7.well
    h3  Manual Setup
    br
    p Please enter the full URL to the github repository. We will analyze the URL and provide you with detailed instructions on how to manually configure the project for use with Strider.
    p For example: 
      a(href='https://github.com/BeyondFog/Poang') https://github.com/BeyondFog/Poang
    .control-group.github_url
      label.control-label(for='github_url') 
        strong Github URL
      .controls
        input.xlarge#github_url(type='text', name='github_url')
        span.help-inline.github_url
      .actions
        a.btn.btn-primary.continue Continue

