script.template#setup_complete(type="text/template")
  .span8.well
    h3  Manual Setup Instructions for BeyondFog/Poang
    br
    p That's it! Click the button to kick off your first test run.
    p

    .actions
      a.btn.btn-primary.continue Start Test Run
