{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "google": false
  },
  "rules": {
   "indent": [2, 2],
   "brace-style": [2, "1tbs"],
   "quotes": [2, "single"],
   "no-console": 1,
   "no-use-before-define": [2, "nofunc"],
   "no-underscore-dangle": 0,
   "no-constant-condition": 0,
   "space-before-function-parentheses":[2, {"anonymous": "always", "named": "never"}],
   "func-style": [2, "declaration"]
  }
}
