node_modules
npm-debug.log
Gemfile.lock
.dotcloud/*
config.sh
.idea/*
public/javascripts/pages/account-plugins-compiled.js
public/javascripts/pages/plugin-config-compiled.js
public/javascripts/pages/plugin-status-compiled.js
public/stylesheets/css/account-plugins-compiled.css
public/stylesheets/css/plugin-config-compiled.css
public/stylesheets/css/plugin-status-compiled.css

*compiled.css
*compiled.js
test/last-shot
/coverage
