node_modules
bower_components
npm-debug.log
.bundle/
.dotcloud/*
config.sh
.idea/*
*.swp
public/javascripts/pages/account-plugins-compiled.js
public/javascripts/pages/plugin-config-compiled.js
public/javascripts/pages/plugin-status-compiled.js
public/stylesheets/css/account-plugins-compiled.css
public/stylesheets/css/plugin-config-compiled.css
public/stylesheets/css/plugin-status-compiled.css

*compiled.css
*compiled.js
test/last-shot
dist
/coverage
/failures
