<div class='flex justify-center w-full'>
  <div class='bg-white shadow-md rounded px-8 pt-6 pb-8 my-4'>
    <h2>
      Password Reset
    </h2>
    <p class='my-4 text-red-500'>
      {{@model}}
    </p>

    <LinkTo
      class='block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800'
      @route='forgot-password'
    >
      Try Resetting Again
    </LinkTo>
  </div>
</div>