p Hi,

p You have been invited to Strider running at:
p #{strider_server_name}
p Your invite code is:
p #{code}
p You may register an account with this code at:
p #{strider_server_name}/?code=#{code}
p Regards, 
p
  | Strider
  br
  | Brilliant Continuous Deployment
