.span12
  .row
    .span2
      p
        h2 The Team
  .row
    .span10
      img(src='images/niallo-150x150.png',style="float: left; margin-right: 10px;margin-bottom: 10px",title="niall photo",height=150,width=150)
      h3 Niall O&#8217;Higgins
      p Niall has over a decade&#8217;s experience building distributed systems and large-scale production services. 
        | He has a strong background in UNIX and network security. He became an 
        a(href="http://openbsd.org") OpenBSD 
        | committer in 2005 and contributed to diverse
        | sections of the codebase, from 
        a(href="http://www.openbsd.org/cgi-bin/man.cgi?query=rum") WiFi device drivers 
        | to 
        a(href="http://www.openbsd.org/papers/eurobsd2005/niallo-uwe/index.html") ARM ports 
        | to filesystems and even userland code. 
        | He got his first taste of DevOps and NoSQL when working at 
        a(href="http://freebase.com") Freebase.com 
        | (acquired by Google in 2010 to build the 
        a(href="http://googleblog.blogspot.com/2012/05/introducing-knowledge-graph-things-not.html") Knowledge Graph
        | ) on the 
        a(href="https://code.google.com/p/mwbuild/") MWBuild 
        | run-time, build, configuration management and deployment tool.
        | He wrote the book 
        a(href="http://shop.oreilly.com/product/0636920021513.do") MongoDB and Python 
        | for O&#8217;Reilly in 2011. 
        | He has a particular interest in database and cloud technology and frequently speaks at conferences and events.
        br
        br
        | Twitter:
        a(href="http://twitter.com/niallohiggins") @niallohiggins
  .row
    .span10
      br
  .row
    .span10
      img(src='images/steve-150x150.jpg',style="float: left; margin-right: 10px;",title="steve photo",height=150,width=150)
      h3 Stephen Bronstein
      p Steve has over 17 years of experience in software development and internet services. 
        | He was the founder and Chief Operating Officer of WebYes, Inc, a pioneer web-hosting firm, acquired by Breakaway Solutions in 1999. 
        | More recently he was the COO of IODA, a San Francisco-based digital music distributor acquired by Sony Music in 2009. 
        | Steve attended the Jerome Fisher Program in Management and Technology;
        | he holds a BSE in Finance from the Wharton School of Economics and a BSE in Systems engineering from the University of Pennsylvania. 
        br
        br
        | Twitter:
        a(href="http://twitter.com/sbb") @sbb
