script(src="/javascripts/account.js", type="text/javascript")

include account_templates/_account_change_password.jade
include account_templates/_account_change_email.jade

div.span8
  div#settings

.span12
  h3 Account Management:
  p
    .tabbable.tabs-left
      ul.nav.nav-tabs
          li.active
            a(href='#email', data-toggle='tab') Email Address
          li
            a(href='#password', data-toggle='tab') Password
          li
            a(href='#notifications', data-toggle='tab') Notifications
          li
            a(href='#github', data-toggle='tab') Github Config
          li
            a(href='#subscription', data-toggle='tab') Change subscription
        .tab-content
          #email.tab-pane.active
            #account_email.span8

          #password.tab-pane
            #change_password.span8

          #notifications.tab-pane.span8
            .well
              legend Notifications (Coming Soon)
              li Emails after every job or just after failures
              li push notifications for mobile

          #github.tab-pane.span8
            .well
              legend Github Config (Coming Soon)
              li Associate with a different github account. 
              br
              p If you need to do this right now, 
                a(href="mailto:contact@beyondfog.com") email us 
                | and we will take care of it.
          #subscription.tab-pane.span8
            .well
              legend Subscription
              li Change to different plan
              li Cancel subscription
