{% extends "base.html" %}

{% pluginblock ExtraStyles %}
<link rel="stylesheet" href="/stylesheets/css/bootstrap-switch.css"/>
<link rel="stylesheet" href="/stylesheets/add_repo.css"/>
{% endpluginblock %}


{% block bodyContent %}
  <div id="confirm-delete-project" class="modal fade">
    <div class="modal-header">
      <button data-dismiss="modal" class="close"></button>
      <x></x>
      <h3>Delete <span class="project-name"></span> Configuration?</h3>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete <span class="project-name"></span>?</p>
    </div>
    <div class="modal-footer">
      <a data-dismiss="modal" class="btn">No</a>
      <a class="btn btn-primary btn-delete-project">Yes, I'm sure</a>
    </div>
  </div>

{% if !currentUser.github.id %}
<div class ='span7 well'>
  <p>Hi, {{ currentUser.email }}, it looks like you haven't yet linked your Github account. Press the button below to get started.</p>
  <p> If you don't want to link your Github account at this time, you can configure a project manually. </p>
  <p>&nbsp;
  <div class ='actions'>
    <a class='btn btn-primary' href='/auth/github'>Link Github account</a> 
        &nbsp;&nbsp;&nbsp;
        <a class='btn' href='/manual_setup'> Manual Setup</a>
      </div>
  </p>
</div>
{% else %}

  {% include "partials/spinner.html" %}
  {% include "projects_templates.html" %}
  <script src='/socket.io/socket.io.js'></script>
  <div id="dashboard"></div>
  <script src="/javascripts/lib/bootstrap-switch.js"></script>
  <script src="/javascripts/projects.js"></script>
  <script src='/javascripts/jquery.scrollTo-1.4.2-min.js'></script>

{% endif %}
{% endblock %}
