script(src='/socket.io/socket.io.js')
script(src='/javascripts/jquery.scrollTo-1.4.2-min.js')

-  if (currentUser.github.id === undefined)
  .span7.well
    p  Hi, #{everyauth.user.email}, it looks like you haven't yet linked your Github account. Press the button below to get started.
    p If you don't want to link your Github account at this time, you can configure a project manually. 
    p &nbsp;
      .actions
        a.btn.btn-primary(href='/auth/github') Link Github account 
        &nbsp;&nbsp;&nbsp;
        a.btn.btn(href='/manual_setup') Manual Setup
        
- else if (currentUser.github.id !== undefined)
  // Spinner
  .row-fluid
    .span1
    .span8
      div#spinner.alert.alert-info
  p
  include projects_templates
  // For the backbone dashboard
  #dashboard
  script(src="/javascripts/projects.js")

