<!DOCTYPE html>
{% if apresController %}
  <html data-apres-controller="{{apresController}}" data-controller-params="{{apresParams}}">
{% else %}
  <html>
{% endif %}
  <head>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <title class='StriderBlock_title'>{% pluginblock title %}Strider: Brilliant Continuous Deployment{% endpluginblock %}</title>
    <link rel="shortcut icon" href="{% block favicon %}/favicon.ico{% endblock %}" />
    {% include "bootstrap.html" %}
    <script src="/javascripts/lib/jquery.timeago.js"></script>
    <script src="/javascripts/lib/lodash.min.js"></script>
    <script src="/javascripts/lib/angular.js"></script>
    <script src="/javascripts/lib/angular-route.js"></script>
    <script src="/javascripts/lib/ui-bootstrap.js"></script>
    <script src="/javascripts/lib/md5.js"></script>
    <script src="/javascripts/lib/bootbox.min.js"></script>
    {% block extra_head %}{% endblock %}
    {% pluginblock AfterHead %}{% endpluginblock %}
    {% pluginblock ExtraStyles %}{% endpluginblock %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {% pluginblock TopNav %}
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand StriderBlock_Brand" href="/">{% pluginblock Brand %}Strider{% endpluginblock %}</a>
        </div>

        <div class="navbar-collapse collapse StriderBlock_Nav">
        {% pluginblock Nav %}
          <ul class="nav navbar-nav">
            <li><a href="/">Dashboard</a></li>
            {% if currentUser %}
              <li><a href="/projects">Projects</a></li>
              <li><a href="/account">Account</a></li>
              {% if currentUser.account_level > 0 %}
                <li class='dropdown'>
                  <a href = '#' class='dropdown-toggle' data-toggle='dropdown'>Admin <b class="caret"></b></a>
                  <ul class='dropdown-menu'>
                    <li><a href='/admin/invites'>Invites</a></li>
                    <li><a href='/admin/users'>Users</a></li>
                    <li><a href='/admin/projects'>Projects</a></li>
                    <li><a href='/admin/jobs'>Jobs</a></li>
                  </ul>
                </li>
              {% endif %}
            {% endif %}
          </ul>
          {% if currentUser %}
            <ul class="nav navbar-nav pull-right logged-in">
              <li class='dropdown'>
                <a href = '#' class='dropdown-toggle' data-toggle='dropdown'>{{ currentUser.email }} <b class="caret"></b></a>
                <ul class='dropdown-menu'>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          {% endif %}

          {% if (not signin && not currentUser) %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="/login">Sign In</a></li>
            </ul>
          {% endif %}
        {% endpluginblock %}
        </div>
      </div>     
    {% endpluginblock %}
    </nav>
  <div class='wrap'>
    {% block fillContent%} 
    <div class="strider-fillpage content container">
      <div class="row">
        <div class='span12'>

        {% block bodyContent %}
        {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
    <footer>
    <p class='StriderBlock_FooterText'>
    {% pluginblock FooterText %}
      <a href = 'https://github.com/Strider-CD/strider'>Strider-CD</a>
    | <a href="https://github.com/Strider-CD/strider/issues?state=open">Get Help / Report a Bug</a>
    | <a href="https://github.com/Strider-CD/strider/blob/master/README.md">Docs</a>
    {% if !currentUser %}
    | <a id="forgot-password-link" href="/auth/forgot">Forgot your password?</a>
    {% endif %}
    {% endpluginblock %}
    </p>

    {% block footerScripts %}
      <script src="/socket.io/socket.io.v0.9.16.js"></script>
      <script src="/javascripts/jquery.scrollTo-1.4.2-min.js"></script>
    {% endblock %}
    {% block pageScripts %}
    {% endblock %}
    </footer>
  </body>
</html>
