<!DOCTYPE html>
{% if apresController %}
  <html data-apres-controller="{{apresController}}" data-controller-params="{{apresParams}}">
{% else %}
  <html>
{% endif %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strider: Brilliant Continuous Deployment</title>
    {% include "bootstrap.html" %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="/" class="brand">Strider</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Docs</a>
                <ul class="dropdown-menu">
                  <li><a href="/docs/getting_started">Getting Started</a></li>
                  <li><a href="/docs#Security">Security</a></li>
                  <li><a href="/docs#Languages">Language Support</a></li>
                  <li><a href="/docs#Environment">Environment Variables</a></li>
                  <li><a href="/docs#Webhooks">Webhook/Custom Deployments</a></li>
                  <li><a href="/docs#Collaborators">Collaborators</a></li>
                </ul>
              </li>
              <li><a href="mailto:hello@stridercd.com">Get Help</a></li>

              {% if currentUser %}
                <li><a href="/account">Account</a></li>
                {% if currentUser.user.account_level > 0 %}
                  <li class='dropdown'>
                    <a href = '#' class='dropdown-toggle' data-toggle='dropdown'>Admin</a>
                    <ul class='dropdown-menu'>
                      <li><a href='/admin/invites'>Invites</a></li>
                      <li><a href='/admin/users'>Users</a></li>
                      <li><a href='/admin/projects'>Projects</a></li>
                      <li><a href='/admin/jobs'>Jobs</a></li>
                    </ul>
                {% endif %}
              {% endif %}

            </ul>
            {% if currentUser %}
              <p class='navbar-text pull-right'>Logged in as {{ currentUser.email }}
              |  (<a href="/logout">logout</a>)</p>
            {% endif %}

            {% if not currentUser %}
            <form id="navbar-signin-form" 
               action="/login" method="post" class="navbar-form pull-right">
              <input type="text" placeholder="Email" name="email" class="input-small">
              <input type="password" 
                  placeholder="Password" name="password" class="input-small">
              <button type="submit" class="btn">Sign In</button>
            </form><!--/.nav-collapse -->
          {% endif %}
          </div>
        </div>     
      </div>
    </div>
    {% block fillContent%} 
    <div class="container">
      <div class="header">
        <div class="row">
          <div class="span12"><br>
            <h1 id="layout-header">Brilliant Continuous Deployment...</h1>
          </div>
        </div>
      </div>
      <div class="body-content">
        <div class="row">
          <div class='span12'>

          {% block bodyContent %}
          {% endblock %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    <footer>
      <p>Strider-CD</p>

    {% block footerScripts %}
      <script src='/socket.io/socket.io.js'></script>
      <script src='/javascripts/jquery.scrollTo-1.4.2-min.js'></script>
      <script src="/javascripts/models.js"></script>
    {% endblock %}
    {% block pageScripts %}
    {% endblock %}


    </footer>
  </body>
</html>
