<!DOCTYPE html>
{% if apresController %}
  <html data-apres-controller="{{apresController}}" data-controller-params="{{apresParams}}">
{% else %}
  <html>
{% endif %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class='StriderBlock_title'>{% pluginblock title %}Strider: Brilliant Continuous Deployment{% endpluginblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    {% include "bootstrap.html" %}
    <script src='/javascripts/lib/jquery.timeago.js'></script>
    {% pluginblock AfterHead %}{% endpluginblock %}
    {% pluginblock ExtraStyles %}{% endpluginblock %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    <div class='wrap'>
    <div class="navbar navbar-fixed-top">
      {% pluginblock TopNav %}
      <div class="navbar-inner">
        <div class="container">
          <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="/" class="brand StriderBlock_Brand">{% pluginblock Brand %}Strider{% endpluginblock %}</a>
          <div class="nav-collapse StriderBlock_Nav">
            {% pluginblock Nav %}
            <ul class="nav">
              <li><a href="/">Dashboard</a></li>

              {% if currentUser %}
                <li><a href="/add_repo">Projects</a></li>
                <li><a href="/account">Account</a></li>
                {% if currentUser.account_level > 0 %}
                  <li class='dropdown'>
                    <a href = '#' class='dropdown-toggle' data-toggle='dropdown'>Admin</a>
                    <ul class='dropdown-menu'>
                      <li><a href='/admin/invites'>Invites</a></li>
                      <li><a href='/admin/users'>Users</a></li>
                      <li><a href='/admin/projects'>Projects</a></li>
                      <li><a href='/admin/jobs'>Jobs</a></li>
                    </ul>
                {% endif %}
              {% endif %}

            </ul>
            {% if currentUser %}
              <p class='navbar-text pull-right'>Logged in as {{ currentUser.email }}
              |  (<a href="/logout">logout</a>)</p>
            {% endif %}

            {% if not currentUser %}
            <form id="navbar-signin-form" 
               action="/login" method="post" class="navbar-form pull-right">
              <input type="text" placeholder="Email" name="email" class="input-small">
              <input type="password" 
                  placeholder="Password" name="password" class="input-small">
              <button type="submit" class="btn">Sign In</button>
            </form><!--/.nav-collapse -->
          {% endif %}
          {% endpluginblock %}
          </div>
        </div>     
        {% endpluginblock %}
      </div>
    </div>
    {% block fillContent%} 
    <div class="strider-fillpage content container">
      <div class="body-content">
        <div class="row">
          <div class='span12'>

          {% block bodyContent %}
          {% endblock %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
    <footer>
    <p class='StriderBlock_FooterText'>
    {% pluginblock FooterText %}
      <a href = 'https://github.com/Strider-CD/strider'>Strider-CD</a>
    | <a href="https://github.com/Strider-CD/strider/issues?state=open">Get Help / Report a Bug</a>
    | <a href="https://github.com/Strider-CD/strider/blob/master/README.md">Docs</a>
    {% endpluginblock %}
    </p>

    {% block footerScripts %}
      <script src='/socket.io/socket.io.v0.9.13.js'></script>
      <script src='/javascripts/jquery.scrollTo-1.4.2-min.js'></script>
      <script src="/javascripts/models.js"></script>
    {% endblock %}
    {% block pageScripts %}
    {% endblock %}
    </footer>
  </body>
</html>
