{% extends "base.html" %}

{% block bodyclass %}job_view{% endblock %}

{% block bodyContent %}
{% set page = "build" %}
<div class="app ng-cloak" ng-app="JobStatus">
  <script>
    var repo = {{ repo_config | json_encode() | raw }};
  </script>
  <base href="/"></base>
  <div id="build-page" class="main" ng-view></div>
  <script id="build-tpl.html" type="text/ng-template">
    <div class="row-fluid job-page-intro">
      <div class="span7 job-title">
        {% pluginblock JobPagePreTitle %}{% endpluginblock %}
        <h3>
          <span ng-show="job.project_deployable && !job.running && repo.access_level > 0"
                ng-click="startDeploy(job)"
                title="Retest &amp; Deploy"
                class="clickable test-and-deploy-action">
            <i class="icon-cloud-upload"></i>
          </span>
          <span ng-hide="job.running || repo.access_level < 1" ng-click="startTest(job)"
                title="Retest" class="clickable test-only-action">
            <i class="icon-refresh"></i>
          </span>
          <a href="/[[ job.project_name ]]/config" ng-hide="repo.access_level < 1" title="Configure">
            <i class="icon-wrench"></i>
          </a>
          <span class='job-repo'>{{org}}/{{repo}}</span>
          <a href="[[ job.repo_url ]]" target="_blank">
            <i class="icon-github"></i>
          </a>
        </h3>
        {% pluginblock JobPagePostTitle %}{% endpluginblock %}
      </div>
    </div>
    <div class='job-main'>
      <div>
        <div class='row-fluid job-wrap'>
          {% pluginblock JobPagePreCols %}
          {% endpluginblock %}
          <div class='span8 job-left-col'>
            <!--div class='row-fluid'>
              <div class='span12'>
                <div id='spinner' class='alert alert-info hide'
                     ng-show="job.status === 'running' || job.status === 'submitted'">
                  <img class='spinner' src="/images/spinner.gif" />
                  <span ng-switch="job.status">
                    <span ng-switch-when="running">Running job...</span>
                    <span ng-switch-when="submitted">Job submitted...</span>
                  </span>
                </div>
              </div>
            </div-->
            <div class="row-fluid [[ job.status ]]" id="build-metadata">
              <table>
                <tbody>
                  <tr class="dashboard-row">
                    {% include "partials/_dashboard_row.html" with page %}
                  </tr>
                </tbody>
              </table>
            </div>
            {#
            <div class='row-fluid [[ job.status ]]' id='build-metadata'
                 ng-hide="job.status === 'running' || job.status === 'submitted'">
              <div class='span3' ng-switch="job.status">
                <div class="btn-group">
                  <!-- what's admin-view for? -->
                  <button class="btn btn-warning test"
                          ng-click="startTest()" ng-hide="admin-view" 
                          ng-disabled="job.status === 'running'" data-toggle="tooltip"
                          title="Start a Test">
                    <i class="icon-refresh"></i>
                  </button>
                  <button class="btn btn-info deploy"
                          ng-show="repo.has_prod_deploy_target"
                          ng-click="startDeploy()"
                          ng-disabled="job.status === 'running'"
                          data-toggle="tooltip" title="Test & Deploy">
                    <i class="icon-share-alt"></i>
                  </button>
                  <a class='btn' href="config" data-toggle="tooltip" title="Configure">
                    <i class="icon-cog"></i>
                  </a>
                </div>
              </div>
              <div class='span9' ng-hide="job.status === 'running'">
                {% include "partials/_build_results_detail.html" %}
              </div>
            </div>
            #}

            <div class='row job-pre-console'>
              <div class='span12 job-pre-console-inner'>
                {% pluginblock JobPagePreConsole %}
                {% endpluginblock %}
              </div>
            </div>

            <div class='job-console-container'>
              <pre class='console-output' ng-bind-html-unsafe="job.output"></pre>
            </div>
          </div>

          <div class='span4 job-detail-sidebar pull-right'>
            <div class='build-list-header'>
              <h3>Past Builds</h3>
            </div>
            <div id="list-of-builds">
              <table class="table">
                <thead></thead>
                <tbody>
                  <!-- | orderBy:sortDate:true" -->
                  <tr ng-repeat="job in jobs.list"
                      class="row-fluid build-list-item [[job.status]]"
                      data-id="[[ job.id ]]"
                      ng-click="selectJob(job.id)"
                      ng-class="{active:job.id === $parent.job.id}">
                    {% include "partials/_build_history_row.html" %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script src="/javascripts/pages/build.js"></script>
</div>
{% pluginblock AfterJobPage %}{% endpluginblock %}
{% endblock %}
