{% extends "base.html" %}

{% block bodyclass %}job_view{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/stylesheets/css/build.css">
<link rel="stylesheet" href="/stylesheets/css/plugin-status-compiled.css">
{% endblock %}
{% block fillContent %}
{% set page = "build" %}
<div class="app ng-cloak" ng-app="JobStatus">
  <script>
    var project = {{ project | scriptjson() | raw }};
    var jobs = {{ jobs | scriptjson() | raw }};
    var job = {{ job | scriptjson() | raw }};
    var showStatus = {{ showStatus | scriptjson() | raw }};
    var canAdminProject = {{ canAdminProject === true ? 'true' : 'false' }};
  </script>
  <base href="/{{ page_base }}/"></base>
  <div id="build-page" class="main" ng-view></div>
  <script id="build-tpl.html" type="text/ng-template">
    <div class="row job-page-intro">
      <div class="col-sm-12 job-title">
        {% pluginblock JobPagePreTitle %}{% endpluginblock %}
        <h3>
          {% if currentUser %}
          <span ng-hide="job.running || !canAdminProject"
                ng-click="startDeploy(job)"
                title="Retest &amp; Deploy"
                class="clickable test-and-deploy-action">
            <i class="fa fa-cloud-upload"></i>
          </span>
          <span ng-hide="job.running || !canAdminProject"
                ng-click="startTest(job)"
                title="Retest" class="clickable test-only-action">
            <i class="fa fa-refresh"></i>
          </span>
          <a href="/[[ project.name ]]/config"
             ng-hide="!canAdminProject"
             title="Configure">
            <i class="fa fa-wrench"></i>
          </a>
          {% endif %}
          <span class='job-repo'>{{ project.display_name }}</span>
          <a href="[[ project.display_url ]]" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </h3>
        {% pluginblock JobPagePostTitle %}{% endpluginblock %}
      </div>
    </div>
    <div class='job-main'>
        <div class='row job-wrap'>
          {% pluginblock JobPagePreCols %}
          {% endpluginblock %}
          <div class='col-sm-8  job-left-col'>
            <div class="row-fluid [[ job.status ]]" id="build-metadata">
              <table>
                <tbody>
                  <tr class="dashboard-row">
                    {% include "partials/_dashboard_row.html" with page %}
                  </tr>
                </tbody>
              </table>
            </div>
            <div class='row job-pre-console'>
              <div class='col-sm-12 job-pre-console-inner'>
                {% pluginblock JobPagePreConsole %}
                {% endpluginblock %}
              </div>
            </div>

            {% for block in statusBlocks.runner %}
            <div class="status-{{ loop.key }} plugin-status runner-status {{ block.attrs.class }}"
                 plugin-status="{{ loop.key }}"{% for val in block.attrs %}{% if loop.key != 'class' %} {{ loop.key }}="{{ val }}"{% endif %}{% endfor %}>
              {{ block.html | raw }}
            </div>
            {% endfor %}

            {% if statusBlocks.provider[project.provider.id] %}
            <div class="status-{{ loop.key }} plugin-status provider-status {{ block.attrs.class }}"
                 plugin-status="{{ loop.key }}"{% for val in block.attrs %}{% if loop.key != 'class' %} {{ loop.key }}="{{ val }}"{% endif %}{% endfor %}>
              {{ block.html | raw }}
            </div>
            {% endif %}

            {% for block in statusBlocks.job %}
            <div class="status-{{ loop.key }} plugin-status job-plugin-status {{ block.attrs.class }}"
                 plugin-status="{{ loop.key }}"{% for val in block.attrs %}{% if loop.key != 'class' %} {{ loop.key }}="{{ val }}"{% endif %}{% endfor %}>
              {{ block.html | raw }}
            </div>
            {% endfor %}

            <div class="console-output">
              <i class="fa fa-gear fa-spin loading-icon" ng-show="loading"></i>
              {% include "build/console.html" %}
              <div class="build-error" ng-show="job.status === 'errored' && job.error">
                <div class="alert alert-error">[[ job.error.message ]]</div>
                <pre>[[ job.error.stack ]]</pre>
              </div>
            </div>

            <div class="footer">
              <a href="https://github.com/Strider-CD/strider">Strider-CD <i class="fa fa-github"></i></a>
              | <a href="https://github.com/Strider-CD/strider/issues?state=open">Get Help / Report a Bug</a>
              | <a href="https://strider.readthedocs.com">Docs</a>
            </div>
          </div>

          <div class='col-sm-4 job-detail-sidebar pull-right'>
            {% include "build/history.html" %}
          </div>
        </div>
    </div>
  </script>
  <script src="/javascripts/modules/job-monitor.js"></script>
  <script src="/javascripts/modules/moment.js"></script>
  <script src="/javascripts/modules/ansi.js"></script>
  <script src="/javascripts/pages/build.js"></script>
  <script src="/javascripts/pages/plugin-status-compiled.js"></script>
</div>
{% pluginblock AfterJobPage %}{% endpluginblock %}
{% endblock %}
