{% include "dashboard_templates/dashboard_item.html" %}
{% include "dashboard_templates/dashboard_job_item.html" %}
{% include "dashboard_templates/dashboard_app.html" %}

{% include "partials/spinnermsg.html" %}

<script class='template' id='job-output' type="text/template">
  <%= message %>
</script>


<script class='template' id = 'dashboard-no-jobs' type="text/template">
  <div class = 'empty-jobs alert span10' style="text-align:center">
      <h2>There are no recent builds - did you set up a repo yet?</h2>
      <br />
      <a href="/add_repo" class="btn btn-large btn-primary">Add a Repo</a>
  </div>  
</script>
