div.span8.docs
  h2 Documentation

  p

  h2.docs-section#Security Security
  h3 Github OAuth2
  p To make it as easy and frictionless as possible to set up a new Github project, Strider can connect to your Github account with OAuth2.

  p Your OAuth2 access token is used with the Github API to retrieve your list of repos and to automatically set the webhook and deploy key on your behalf. Unfortunately, Github does not provide particularly fine-grained permissions via 
    a(href="http://developer.github.com/v3/oauth/") their OAuth2 API
    |, so Strider has to request 'repo' permission which gives us read/write access to every repo and to user data.
  
  p You can revoke these permissions at any time by visiting the 
    a(href="https://github.com/settings/applications") Github Authorized Applications 
    | page.

  h3 Manual Github Setup (no OAuth2)
  p Alternatively, if you cannot or don't want to grant Strider access to your Github account via OAuth2, you can setup your projects manually.
  
  p In this mode of operation, Strider will only have permission to clone your source code via an SSH deploy key and nothing else.  Click the 'Manual Setup' button or visit 
    a(href="/manual_setup") Manual Setup 
    | and enter a Github repository URL. Strider will add the project to your account and then will provide instructions on how to properly configure that repository on Github to work with Strider.

  p

  h2.docs-section#Languages Language Support
  p Strider currently supports Python and Node.JS applications.
  h3 Node.JS
  p
    | Node.JS applications are supported via 
    a(href="http://npmjs.org/doc/test.html") npm test
    |. As long as your dependencies are correctly specified in package.json and the "test" script
    | is correctly configued, your tests will run.
  p
    b Sample node.js Applications:
  ul
    li
      a(href="https://github.com/BeyondFog/Poang") Poang 
      | - a sample node.js/MongoDB app that works with Strider and Heroku/MongoLab  (
      a(href="https://github.com/BeyondFog/Poang/fork_select") fork this project
      | )
    li
      a(href="https://github.com/BeyondFog/strider-nodejs-redis-test") Sample Node.JS test app with Strider Redis support 
    li
      a(href="https://github.com/BeyondFog/strider-nodejs-mongodb-test") Sample Node.JS test app with Strider MongoDB support
    li
      a(href="https://github.com/BeyondFog/strider-nodejs-postgresql-test") Sample Node.JS test app with Strider PostgreSQL support

  h2.docs-section#Webhooks Webhooks/Custom Deployments
  img(src="http://cl.ly/1q1R1K333m0I2P0D3C1y/Screen%20Shot%202012-07-01%20at%203.24.14%20PM.png")
  p In addition to integration with Heroku, Strider supports custom deployments through Webhooks. Webhook is a HTTP POST request to a target URL which you specify. Each time Strider runs your tests, target URLs will receive a HTTP POST from Strider with a JSON payload on each project test run.  These enable you to receive and process real-time push notifications from our system.
  
  p Webhooks are signed cryptographically with HMAC-SHA1 using a shared secret so you can verify their authenticity.  Signatures are transmitted in the 
    a(href="http://pubsubhubbub.googlecode.com/svn/trunk/pubsubhubbub-core-0.3.html#authednotify") X-Signature-Hub header.

  p Sample payload:
  script(src="https://gist.github.com/3029840.js?file=gistfile1.json")
  p Webhooks can be configured on the project configuration page.

  p We have written a simple Node.JS app called Node-Stride (
    a(href="https://github.com/niallo/Node-Stride") github
    | ) to receive the webhook from Strider, verify the HMAC-SHA1 signature and run a custom 
    a(href="http://fabfile.org") Fabric
    |  script to deploy new code to our infrastructure. Feel free to use this project yourself!
  
  h2.docs-section#Collaborators Collaborators
  img(src="http://cl.ly/0P1x38013b0f333g3U1o/Screen%20Shot%202012-07-01%20at%203.22.22%20PM.png")
  p Strider supports collaborators on a per-project basis. You can invite users by email address to have access to projects you have configured. This is designed for teams who need to share access to projects across multiple user accounts. Collaborators can be added to a project during the new project setup process or via the project config page. Collaborators will receive build status emails and can view build status and history via the web interface. They are also permitted to trigger test and deploy jobs. Collaborators cannot change project settings nor add/remove other collaborators on the project. You may remove collaborators at any time. If there is no existing account for the email address, they will be sent an invite to sign up for Strider and then be added as a collaborator.

