{% extends "base.html" %}

{% block bodyContent %}
{% if !currentUser %} 
  <div class='StriderBlock_LoggedOutFillContent'>{% pluginblock LoggedOutFillContent %}
      {% include "partials/errors.html" %}
      {% include "partials/signupform.html" %}
  {% endpluginblock %}</div>

  <script>
    $(document).ready(function() {
      $('#layout-header').hide();
      $('#invite-box').height($('#signup-box').height());   
    });
  </script>

{% else %}

{% if !currentUser.github.id %}
<div class="span7 well">
  <h3>Welcome to Strider, {{currentUser.email}}!</h3> 
  <p> It looks like you haven't yet linked your Github account. Press the button below to get started.
  </p>
  <div class= "actions">
    <a class="btn btn-success" href='/auth/github'>
      <i class="icon-ok"></i>
      Link Github account 
      &nbsp;&nbsp;&nbsp;
    </a>
    <a class="btn" href='/manual_setup'>Manual Setup</a>
  </div>
</div>
{% endif %}

<div class='row-fluid' ng-app="dashboard" ng-controller="Dashboard">
  <div>
    <div id="spinner" class="alert alert-info hide" ng-show="running.status === 'running' || running.status === 'submitted'">
      <img class='spinner' src="/images/spinner.gif" />
      <span ng-switch="running.status">
        <span ng-switch-when="running">Running job...</span>
        <span ng-switch-when="submitted">Job submitted...</span>
      </span>
    </div>
  </div>
  <div id="dashboard">
    <div>
      <div class="row-fluid">
        <div class="span12 dashboard-section">
          <div ng-hide="jobs.length || loading" class="empty-jobs alert span10" style="text-align:center">
            <h2>There are no recent builds - did you set up a repo yet?</h2>
            <br />
            <a href="/add_repo" class="btn btn-large btn-primary">Add a Repo</a>
          </div>  
          <div class="row-fluid">
            <div class="span6">
              <h3>Latest Builds:</h3>
            </div>
          </div>
          <table id="job-list" class="table">
            <thead>
              <th></th>
              <th>Job</th>
              <th></th>
              <th></th>
              <th>Project</th>
              <th></th>
              <th>Commit</th>
              <th></th>
              <th colspan="2">Duration</th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat="job in jobs | orderBy:['running', '+finished_time']:true">
                <td class="deploy">
                  <span ng-show="job.project_deployable && !job.running"
                        ng-click="startDeploy(job)"
                        data-toggle="tooltip" title="Retest &amp; Deploy"
                        data-delay="200" class="clickable test-and-deploy-action">
                    <i class="icon-cloud-upload"></i>
                  </span>
                </td>
                <td class="job-link">
                  <a href="[[ job.url ]]" ng-switch="job.status">
                    <i ng-switch-when="succeeded" class="icon-check-sign success-text"></i>
                    <i ng-switch-when="running" class="icon-cog icon-spin"></i>
                    <i ng-switch-when="submitted" class="icon-cog icon-spin"></i>
                    <i ng-switch-when="failed" class="icon-exclamation-sign failure-text"></i>
                    <span>[[ job.id.substr(0,8) ]]</span>
                  </a>
                </td>
                <td class="refresh">
                  <span ng-hide="job.running" data-toggle="tooltip"
                        ng-click="startTest(job)"
                        title="Retest" data-delay="500"
                        class="clickable test-only-action">
                    <i class="icon-refresh"></i>
                  </span>
                </td>
                <td class="configure">
                  <a href="/[[ job.project_name ]]/config" data-toggle="tooltip" data-delay="500" title="Configure">
                    <i class="icon-wrench"></i>
                  </a>
                </td>
                <td class="project-name">
                  <a href="/[[ job.project_name ]]/latest_build">
                    [[ job.project_name ]]
                  </a>
                </td>
                <td class="committer">
                  <div ng-show="job.triggered_by_commit" ng-switch="job.committer.url">
                  <img ng-switch-when="null" ng-src="[[ job.committer.image ]]"/>
                  <a ng-switch-default href="[[ job.committer.url ]]">
                    <img ng-src="[[ job.committer.image ]]"/>
                  </a>
                  </div>
                </td>
                <td class="commit-url">
                  <a ng-show="job.triggered_by_commit"
                     href="[[ job.commit.url ]]">
                    <span class="small-text">
                      [[ job.commit.message ]]
                    </span>
                  </a>
                </td>
                <td class="github-link">
                  <a href="[[ job.repo_url ]]" target="_blank">
                    <i class="icon-github"></i>
                  </a>
                </td>
                <td class="run-time">
                  <span ng-hide="job.running" class="small-text">
                    [[ job.duration ]]s
                  </span>
                </td>
                <td class="finished-at" ng-switch="job.running">
                  <span ng-switch-when="false" class="small-text">
                    <time data-toggle="tooltip" data-placement="top" datetime="[[ job.finished_timestamp ]]" class="timeago"></time>
                  </span>
                  <div ng-switch-when="true" class="progress-meter">
                    <div class="progress progress-striped active progress-info">
                      <div class="bar" style="width:[[ job.time_elapsed/job.duration*100 ]]%; max-width: 100%"></div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="/javascripts/pages/dashboard.js"></script>

{% endif %}
{% endblock %}
