{% extends "base.html" %}

{% block bodyContent %}
{% if !currentUser %} 
  <div class='StriderBlock_LoggedOutFillContent'>{% pluginblock LoggedOutFillContent %}
      {% include "partials/errors.html" %}
      {% include "partials/signupform.html" %}
  {% endpluginblock %}</div>

  <script>
    $(document).ready(function() {
      $('#layout-header').hide();
      $('#invite-box').height($('#signup-box').height());   
    });
  </script>

{% else %}

{% if !currentUser.github.id %}
<div class="span7 well">
  <h3>Welcome to Strider, {{currentUser.email}}!</h3> 
  <p> It looks like you haven't yet linked your Github account. Press the button below to get started.
  </p>
  <div class= "actions">
    <a class="btn btn-success" href='/auth/github'>
      <i class="icon-ok"></i>
      Link Github account 
      &nbsp;&nbsp;&nbsp;
    </a>
    <a class="btn" href='/manual_setup'>Manual Setup</a>
  </div>
</div>
{% endif %}

<div class='row-fluid' ng-app="dashboard" ng-controller="Dashboard">
  <div>
    <div id="spinner" class="alert alert-info hide" ng-show="running.status === 'running' || running.status === 'submitted'">
      <img class='spinner' src="/images/spinner.gif" />
      <span ng-switch="running.status">
        <span ng-switch-when="running">Running job...</span>
        <span ng-switch-when="submitted">Job submitted...</span>
      </span>
    </div>
  </div>
  <div id="dashboard">
    <div>
      <div class="row-fluid">
        <div class="span12 dashboard-section">
          <div ng-hide="jobs.length || loading" class="empty-jobs alert span10" style="text-align:center">
            <h2>There are no recent builds - did you set up a repo yet?</h2>
            <br />
            <a href="/add_repo" class="btn btn-large btn-primary">Add a Repo</a>
          </div>  
          <div class="row-fluid">
            <div class="span6">
              <h3>Latest Builds:</h3>
            </div>
          </div>
          <table id="job-list" class="table">
            <thead>
              <th class="deploy-header"></th>
              <th class="job-header">Job</th>
              <th class="refresh-header"></th>
              <th class="configure-header"></th>
              <th>Project</th>
              <th class='history'></th>
              <th class="committer-header"></th>
              <th class="commit-header">Commit</th>
              <th class="github-header"></th>
              <th colspan="2">Duration</th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat="job in jobs | orderBy:['running', '+finished_time']:true">
                {% include "partials/_dashboard_row.html" %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="/javascripts/pages/dashboard.js"></script>

{% endif %}
{% endblock %}
