script(src='/socket.io/socket.io.v0.9.10.js')
script(src='/javascripts/jquery.scrollTo-1.4.2-min.js')
- if (currentUser.user === undefined)
  .span10.offset1
    - if ('undefined' !== typeof errors && errors.length)
      .alert.alert-error
        - each error in errors
          = error
          br
  .span10.offset1
      .hero-unit
        h1 Brilliant Continuous Deployment.
        br
        include partials/_strider_copy.jade
        br
        br
        center
          form.form-inline(action='/register', method='POST')             
            input.xlarge(type='text', name='invite_code', placeholder='Invite Code') 
            input.xlarge(type='text', name=currentUser.password.loginFormFieldName, placeholder='Email')
            input.xlarge(type='password', name=currentUser.password.passwordFormFieldName, placeholder='Password')
            input.btn.primary(type='submit', value='Register')
  
  
  script
    $(document).ready(function() {
      $('#layout-header').hide();
      $('#invite-box').height($('#signup-box').height());   
    });


- else if (currentUser.user.github.id === undefined && total_configured_projects == 0)
  .span7.well
    h3  Welcome to Strider, #{currentUser.user.email}! 
    br
    p It looks like you haven't yet linked your Github account. Press the button below to get started.
      .actions
        a.btn.btn-success(href='/auth/github') 
          i.icon-ok 
          |  Link Github account 
        &nbsp;&nbsp;&nbsp;
        a.btn.btn(href='/manual_setup') Manual Setup
        
- else if (currentUser.user.github.id !== undefined || total_configured_projects > 0)
  .span12
    .row-fluid
      .span10
    // Spinner
    .row-fluid
      .span9
        div#spinner.alert.alert-info
    p
    include dashboard_templates
    // For the backbone dashboard
    div#dashboard
  script(src="/javascripts/dashboard.js")

