{% extends "base.html" %}

{% block bodyContent %}
<div class="span12 job-page">
  <div class="row-fluid job-page-intro">
    <div class="span7 job-title">
      {% pluginblock JobPagePreTitle %}{% endpluginblock %}
      <h3>Job {{job_id}} {{org}}<span class='job-repo'>/{{repo}}</span></h3>
      {% pluginblock JobPagePostTitle %}{% endpluginblock %}
    </div>
  </div>
  <div class='job-main'>
    {% include "partials/_build.html" %}
  </div>
</div>
      {% pluginblock AfterJobPage %}{% endpluginblock %}
{% endblock %}
