p Latest Builds for your Repos
#job-status.row
  .job-list.span10

script.template#job-item-template(type="text/template")
  .row-fluid.job-list-item
    .span2
      | <% if (success) {%>
      | <a href="<%= "/" + project_name + "/latest_build" %>" class="btn btn-success btn-large">View</a>
      | <%} else {%>
      | <a href="<%= "/" + project_name + "/latest_build" %>" class="btn btn-danger btn-large">View</a>
      | <% } %>
    .span10
      .row-fluid
        .span12
          .row-fluid
          .span12
        .row-fluid
          .span6
           #repo-branch 
             strong Branch: 
             a master
          .span6 
           #commit-id 
             strong Job: 
             | <a href=<%= job_url %> ><%= job_id.substr(0,8) %></a>
        .row-fluid
          .span6
            #finished-at
              strong Finished: 
              <%= finished_at %>
          .span6
            #build-duration
              strong Running Time: 
              <%= duration  %>s

script(src='/javascripts/jobs_status.js')