{% extends "base.html" %}

{% block bodyContent %}

<script class='template' id='spinner-msg' type="text/template">
  <img class='spinner' src="/images/spinner.gif" />
  <%= message %>
</script>

{% include "kickoff_templates/heroku_api_key.html" %}
{% include "kickoff_templates/heroku_app_prompt.html" %}
{% include "kickoff_templates/github_setup.html" %}
{% include "kickoff_templates/paas_select.html" %}


<div class='span8'>
  <div id='spinner'></div>
</div>
<div id ="kickoff-app"></div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript", src="/javascripts/kickoff.js"></script>
<script type="text/javascript">
  var repo = {{ repo|raw }};

  $(document).ready(function() {
    init_kickoff();
    window.setup_model = new SetupModel();
    window.SetupApp = new SetupAppView({model: setup_model});
    window.app_router = new window.KickoffRouter();
    Backbone.history.start({pushState:false, root: '!{"/kickoff/" + repo.id}/'});
    // Blank hash should navigate to start.
    if (!window.location.hash) {
      window.app_router.navigate("start", {trigger: true});
    }
  });
</script>
{% endblock %}

