script.template#spinner-msg(type="text/template")
  img.spinner(src="/images/spinner.gif")
  <%= message %>

include kickoff_templates/heroku_api_key.jade
include kickoff_templates/heroku_app_prompt.jade
include kickoff_templates/github_setup.jade
include kickoff_templates/paas_select.jade

script(src='/socket.io/socket.io.v0.9.10.js')

script(type="text/javascript")
  var repo = !{JSON.stringify(repo)};

script(type="text/javascript", src="/javascripts/kickoff.js")

script(type="text/javascript")
  var repo = !{JSON.stringify(repo)};
  $(document).ready(function() {
    init_kickoff();
    window.setup_model = new SetupModel();
    window.SetupApp = new SetupAppView({model: setup_model});
    window.app_router = new window.KickoffRouter();
    Backbone.history.start({pushState:false, root: '!{"/kickoff/" + repo.id}/'});
    // Blank hash should navigate to start.
    if (!window.location.hash) {
      window.app_router.navigate("start", {trigger: true});
    }
  });
div.span8
    div#spinner
div#kickoff-app
