
head
  block head
    meta(name="viewport",content="width=device-width; initial-scale=1.0")
    title Strider: Brilliant Continuous Deployment
    include bootstrap

body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='/') Strider
        .nav-collapse
          ul.nav
            li
              a(href='/') Home
            li.dropdown 
              a(href='#').dropdown-toggle(data-toggle="dropdown") Docs
              ul.dropdown-menu
                li
                  a(href='/docs/getting_started') Getting Started
                li
                  a(href='/docs#Security') Security
                li
                  a(href='/docs#Languages') Language Support
                li
                  a(href='/docs#Environment') Environment Variables
                li
                  a(href='/docs#Webhooks') Webhook/Custom Deployments
                li
                  a(href='/docs#Collaborators') Collaborators
            li
              a(href='mailto:hello@stridercd.com') Get Help
            - if (everyauth.user !== undefined)
              li
                a(href="/account") Account
                - if (everyauth.user.account_level > 0)
                  li.dropdown 
                    a(href='#').dropdown-toggle(data-toggle="dropdown") Admin
                    ul.dropdown-menu
                      li
                        a(href='/admin/invites') Invites
                      li
                        a(href='/admin/users') Users
                      li
                        a(href='/admin/projects') Projects
                      li
                        a(href='/admin/jobs') Jobs
          - if (everyauth.user !== undefined)
            p.navbar-text.pull-right Logged in as #{everyauth.user.email}
              |  (<a href="/logout">logout</a>)
          - if (everyauth.user === undefined)
            form.navbar-form.pull-right#navbar-signin-form(action="/login", method="post")
              input.input-small(type='text', placeholder="Email", name=everyauth.password.loginFormFieldName)
              input.input-small(type='password', placeholder="Password", name=everyauth.password.passwordFormFieldName)
              button.btn(type="submit") Sign In
          //
            /.nav-collapse 

  .container
    .header
      .row
        .span12
          br
          h1#layout-header Brilliant Continuous Deployment
    .body-content
      .row
       !=body


  footer
    br
    br
    p  
