script.template#spinner-msg(type="text/template")
  img.spinner(src="/images/spinner.gif")
  <%= message %>

include manual_setup_templates/enter_github_url.jade
include manual_setup_templates/configuration_instructions.jade
include manual_setup_templates/setup_complete.jade

script(src='/socket.io/socket.io.v0.9.10.js')
script(src='/javascripts/jquery.clippy.min.js', type='text/javascript')

script(type="text/javascript", src="/javascripts/manual_setup.js")

script(type="text/javascript")
  $(document).ready(function() {
    init_manual_setup();
    window.setup_model = new SetupModel();
    window.SetupApp = new SetupAppView({model: setup_model});
    window.app_router = new window.ManualSetupRouter();
    Backbone.history.start({pushState:false, root: '!{"/manual_setup"}/'});
    // Blank hash should navigate to start.
    if (!window.location.hash) {
      window.app_router.navigate("start", {trigger: true});
    }
  });
div.span8
    div#spinner
div#manual-setup-app
