{% extends "base.html" %}

{% block bodyContent %}
<script data-main="/apres/js/lib/apres-dev.js" src="/apres/js/lib/require-1.0.8.js"></script>
<div id="remove-github-webhooks-modal" class="modal fade"></div>
<script id="remove-github-webhooks-template" type="text/template" class="template">
  <div class="modal-header">
    <h3>Confirm Github Webhook Removal</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span8">
        <div class="alert alert-info hide"></div>
      </div>
    </div>
    <p>Are you sure you want to remove the Github webhooks for the project <b><a href="">{{display_name}}</a></b>?</p>
  </div>
  <div class="modal-footer"><a data-dismiss="modal" class="btn">No</a><a class="btn btn-primary">Yes, I'm sure</a></div>
</script>
<script id="heroku-key-prompt" type="text/template" class="template">
  <div class="span8">
    <fieldset>
      <legend>Heroku Deploy Configuration</legend>
      <div class="control-group">
        <label for="api-key" class="control-label">Heroku API Key</label>
        <div class="controls">
          <input id="api-key" type="password" class="input-xlarge"/>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary heroku-prompt">Ok</button>
      </div>
    </fieldset>
  </div>
</script>
<script id="heroku-app-prompt" type="text/template" class="template">
  <div class="span8">
    <fieldset>
      <legend>Heroku Deploy Configuration</legend>
      <div class="control-group">
        <label for="app" class="control-label">Heroku App</label>
        <div class="controls">
          <select id="app">
            <option value="@@new@@">--Create new app--</option>
             <% _.each(heroku_apps, function(app) { %>
               <option value="<%= app.name %>"><%= app.name %></option>
             <% }); %>
          </select>
          <p class="help-block">Deploy to existing Heroku app or create a new one for this repository</p>
          <div class="appname">
            <label for="new-app-name" class="control-label">New app name</label>
            <input id="new-app-name" type="text" placeholder="my-new-app" class="input-xlarge"/>
            <p class="help-block">Name of app to create</p>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary heroku-select">Ok</button>
        <button class="btn btn-back"><< Go back</button>
      </div>
    </fieldset>
  </div>
</script>
<script id="heroku-config" type="text/template" class="template">
  <div class="row-fluid">
    <div class="span10">
      <legend>Heroku Settings</legend>
    </div>
    <div class="row-fluid">
      <div class="span10">
        <div class="well">
          <h3> <strong>App Name: </strong><a href="https://<%= deploy_target_name %>.herokuapp.com" target="_blank">
            <%= deploy_target_name %>
            </a>
          </h3><br/>
          <div class="controlgroup">
            <div class="controls">
              <label class="checkbox">
                Deploy on Green
                <% if (deploy_on_green) { %>
                <input id="deploy-on-green" type="checkbox" checked="1" autocomplete="off"/><% } else { %>
                <input id="deploy-on-green" type="checkbox" autocomplete="off"/><% } %>
              </label>
              <p>When tests pass, automatically deploy to Heroku. If this is unchecked, deployments must be triggered manually.</p>
            </div>
            <button id="save-deploy-on-green" class="btn btn-primary form-actions">Save Changes</button>
            <hr/>
            <div class="controlgroup">
              <h3>Reset Heroku Config</h3>
              <p>If you would like to stop deploying this repo to Heroku, click the button below.</p>
              <div class="controls"><a id="remove-heroku-config" class="btn btn-danger">Remove Heroku Configuration</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<div id="confirm-remove-collaborator-modal" class="modal fade"></div>
<script id="confirm-remove-collaborator-template" type="text/template" class="template">
  <div class="modal-header">
    <button data-dismiss="modal" class="close"></button>
    <x></x>
    <h3>Remove <%= email %></h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to remove <%= email %> from  {{display_name}}?</p>
  </div>
  <div class="modal-footer"><a data-dismiss="modal" class="btn">No</a><a class="btn btn-primary">Yes, I'm sure</a></div>
</script>
<script id="collaborator-loading" type="text/template" class="template">
  <tr>
    <td>
      <p>Loading collaborators...</p>
    </td>
  </tr>
</script>
<script id="collaborator-table-row" type="text/template" class="template">
  <tr>
    <td><img src="<%= gravatar %>" /></td>
    <td><%= email %></td>
    <td>
      <% if (owner) { %>
      Owner
      <% } else { %>
      <a data-toggle="modal" href="#confirmRemoveCollaborator">
        <i class="icon-remove" id="<%= uuid %>" alt="remove"></i>
      </a>
      <% } %>
    </td>
  </tr>
</script>
<div id="confirm-remove-webhooks-modal" class="modal fade"></div>
<script id="confirm-remove-webhooks-template" type="text/template" class="template">
  <div class="modal-header">
    <button data-dismiss="modal" class="close"></button>
    <x></x>
    <h3>Remove <%= target_url %></h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to remove <%= target_url %> webhook from  {{display_name}}?</p>
  </div>
  <div class="modal-footer"><a data-dismiss="modal" class="btn">No</a><a class="btn btn-primary">Yes, I'm sure</a></div>
</script>
<script id="webhook-none" type="text/template" class="template">
  <tr>
    <td>
      <p>No webhooks configured.</p>
    </td>
  </tr>
</script>
<script id="webhook-loading" type="text/template" class="template">
  <tr>
    <td>
      <p>Loading webhooks...</p>
    </td>
  </tr>
</script>
<script id="webhook-header" type="text/template" class="template">
  <tr>
    <th>Target URL for HTTP POST</th>
    <th>Shared secret for HMAC-SHA1 signature</th>
  </tr>
</script>
<script id="webhook-table-row" type="text/template" class="template">
  <tr>
    <td><%= target_url %></td>
    <td><%= secret %></td>
    <td>
      <a data-toggle="modal" href="#confirmRemoveWebhook">
        <i class="icon-remove" id="<%= uuid %>" alt="remove"></i>
      </a>
    </td>
  </tr>
</script>
<script id="confirm-delete-project-template" type="text/template" class="template">
  <div class="modal-header">
    <button data-dismiss="modal" class="close"></button>
    <x></x>
    <h3>Delete {{display_name}}</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete {{display_name}}?</p>
  </div>
  <div class="modal-footer"><a data-dismiss="modal" class="btn">No</a><a class="btn btn-primary btn-delete-project">Yes, I'm sure</a></div>
</script>
<script id="deactivate-project" type="text/template" class="template"><strong>Deactivate / Activate Project</strong>
  <p>Temporarily turn off continuous integration and deployment. Tests and deployments will not be triggered by commits when a project is deactivated.</p><% if (active) { %>
  <button class="btn btn-danger btn-deactivate">Deactivate</button>
  <% } else { %>
  <button class="btn btn-success btn-activate">Activate</button>
  <% } %>
  <hr/><strong>Delete Project</strong>
  <p>Permanently remove {{display_name}} from Strider</p><a data-toggle="modal" href="#confirm-delete-project" class="btn btn-danger">Delete Project</a>
  <hr/>
  <div id="confirm-delete-project" class="modal fade"></div>
</script>
<script id="deactivate-loading" type="text/template" class="template">
  <tr>
    <td>
      <p>Loading config...</p>
    </td>
  </tr>
</script>
<div class="span12">
  <h3>Configuration - <a href="latest_build" class="header-emphasis">{{display_name}}</a></h3>
  <p>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#collaborators" data-toggle="tab">Collaborators</a></li>
        <li><a href="#heroku" data-toggle="tab">Heroku Config</a></li>
        <li><a href="#github_config" data-toggle="tab">Github Config</a></li>
        <li><a href="#webhooks" data-toggle="tab">Webhooks</a></li>
        <li><a href="#deactivate" data-toggle="tab">Deactivate</a></li>
        {% for panel in panels %}
        <li><a href="#{{panel.id}}" data-toggle="tab">{{panel.title}}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        <!--each panel in panels-->
        <!--  div(id="#{panel.id}").tab-pane-->
        <!--   !{panel.contents}-->
        {% for panel in panels %}
        <div id="{{panel.id}}" class="tab-pane">
        {% autoescape false %}
        {{panel.contents}}
        {% endautoescape %}
        </div>
        {% endfor %}
        <div id="collaborators" class="tab-pane active">
          <div id="project_config_collaborators" data-widget="/javascripts/apres/widget/collaborators.js" class="widget span8">
            <div class="well">
              <fieldset>
                <legend>Collaborators</legend>
                <div class="alert alert-success hide"></div>
                <p>Collaborators will be notified of build success/failure, be able to trigger test jobs and deploys, and access job details. They will not be permitted to add other new collaborators nor change any project configuration.</p>
                <div class="row">
                  <div class="span4">
                    <table class="table"></table>
                  </div>
                  <div class="span3">
                    <div class="control-group">
                      <div class="controls">
                        <div class="input-append">
                          <input type="text" name="new_collaborator" placeholder="email address" class="collab-email span2"/>
                          <button class="btn btn-add-collab">Add</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div id="github_config" class="tab-pane">
          <div class="row-fluid">
            <div class="span10">
              <h3>Github Settings</h3>
              <p></p>
              <hr/><strong>Remove Github Webhooks</strong>
              <p>If you ONLY want to kickoff tests manually via the Strider web interface, Strider can remove the webhook from Github. This will mean Strider is never notified of any commits you make. If you change your mind later, we can always add them back for you from this page.</p>
              <div class="actions"><a id="remove-github-webhooks" class="btn btn-danger">Remove Github Webhooks</a></div>
            </div>
          </div>
        </div>
        <div id="heroku" class="tab-pane">
          <div class="span8">
            <div class="alert alert-success hide"></div>
            <div class="content"></div>
          </div>
        </div>
        <div id="webhooks" class="tab-pane">
          <div id="project_config_webhooks" data-widget="/javascripts/apres/widget/webhooks.js" class="widget span10">
            <div class="well">
              <fieldset>
                <legend>Webhooks</legend>
                <div class="alert alert-success hide"></div>
                <p>Target URLs will receive a HTTP POST from Strider with a JSON payload on each project test run.  These enable you to receive and process real-time push notifications from our system.  Push notifications are signed cryptographically with HMAC-SHA1 using a shared secret so you can verify their authenticity. Signatures are transmitted in the <a href="http://pubsubhubbub.googlecode.com/svn/trunk/pubsubhubbub-core-0.3.html#authednotify">X-Signature-Hub header. </a><a href="https://gist.github.com/3029840">See a sample payload.</a></p>
                <div class="row">
                  <div class="span6">
                    <table class="table"></table>
                  </div>
                  <div class="span2">
                    <div class="control-group">
                      <div class="controls">
                        <div class="input-append">
                          <input type="text" placeholder="target URL" class="webhook-target-url span2"/>
                          <input type="text" placeholder="HMAC-SHA1 secret" class="webhook-secret span2"/>
                        </div>
                        <button class="btn btn-add-webhook">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div id="deactivate" class="tab-pane">
          <div id="project_config_deactivate" data-widget="/javascripts/apres/widget/deactivate.js" class="widget span8"></div>
        </div>
      </div>
    </div>
  </p>
</div>
<script type="text/template" id="github-setup" class="template">
  <!--Empty-->
</script>
<script id="spinner-msg" type="text/template" class="template"><img src="/images/spinner.gif" class="spinner"/><%= message %></script>
{% endblock %}
