{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/stylesheets/css/config.css">
<link rel="stylesheet" href="/stylesheets/css/config-plugins-compiled.css">
<link rel="stylesheet" href="/stylesheets/css/bootstrap-switch.css">
{% endblock %}
{% block bodyContent %}
{% include "config/boot-badge.html" %}
<script>
  var panelData = {{ panelData | scriptjson | raw }}
    , project = {{ project | scriptjson | raw }};
</script>
<div id="config-wrapper" class="ng-cloak" ng-app="config" ng-controller="Config">
  <button href="#build-badge-modal" data-toggle="modal" class="badge-link pull-right btn">Build Badge</button>
  <div class="notify-wrapper pull-right">
    <div id="notify" ng-class="{ visible: message.showing }" class="alert alert-[[ message.type ]]">
      <a type="button" class="close" ng-click="clearMessage()">&times;</a>
      <div class="message" ng-bind-html-unsafe="message.text"></div>
    </div>
  </div>
  <h3>Configuration - <a href="/{{display_name}}/" class="header-emphasis">{{display_name}}</a></h3>
  <p>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs span2 config-tabs">
        {% for panel in panels %}
        <li {% if loop.first %}class="active"{% endif %}>
          <a href="#{{panel.id}}" data-toggle="tab">{{panel.title}}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="tab-content span10">
        <div id="loading" class="hide">
          <img src="/images/spinner.gif" class="spinner"/>
          [[ loadingMessage ]]
        </div>
        {% for panel in panels %}
        <div id="{{panel.id}}" class="tab-pane {% if loop.first %}active{% endif %}" {% if panel.controller %}ng-controller="{{panel.controller}}"{% endif %}>
        {% autoescape false %}
        {{ panel.contents }}
        {% endautoescape %}
        </div>
        {% endfor %}
      </div>
    </div>
  </p>
</div>
  <script src="/javascripts/lib/bootstrap-switch.js"></script>
<script src='/javascripts/pages/config.js'></script>
<script src='/javascripts/pages/config-plugins-compiled.js'></script>
{% endblock %}
