include projects_templates/projects_item
include projects_templates/projects_app

script.template#spinner-msg(type="text/template")
  img.spinner(src="/images/spinner.gif")
  <%= message %>

script.template#job-output(type="text/template")
  <%= message %>
