script(data-main="/apres/js/lib/apres-dev.js", src="/apres/js/lib/require-1.0.8.js")

div#remove-github-webhooks-modal.modal.fade
script.template#remove-github-webhooks-template(type="text/template")
  div.modal-header
    h3 Confirm Github Webhook Removal
  div.modal-body
    .row-fluid
      .span1
      .span8
        div.alert.alert-info.hide

    p Are you sure you want to remove the Github webhooks for the project 
      b
        a(href="") {{display_name}}
      ?
  div.modal-footer
    a.btn(data-dismiss="modal") No
    a.btn.btn-primary Yes, I'm sure

//- These includes are the client-side templates for apres/widget/heroku_setup.js widget
include kickoff_templates/heroku_api_key.jade
include kickoff_templates/heroku_app_prompt.jade

//- Template for apres/widget/heroku_config.js widget
script.template#heroku-config(type="text/template")
      .row-fluid
        .span10
          legend Heroku Settings
        .row-fluid
          .span10
            .well
              h3 
               strong App Name: 
               | <a href="https://<%= deploy_target_name %>.herokuapp.com" target="_blank">
               | <%= deploy_target_name %>
               | </a>
              br
              div.controlgroup
                div.controls
                  label.checkbox Deploy on Green
                    <% if (deploy_on_green) { %>
                    input#deploy-on-green(type="checkbox",checked="1",autocomplete="off")
                    <% } else { %>
                    input#deploy-on-green(type="checkbox",autocomplete="off")
                    <% } %>
                  p When tests pass, automatically deploy to Heroku. If this is unchecked, deployments must be triggered manually.
                button#save-deploy-on-green.btn.btn-primary.form-actions Save Changes
                hr
                .controlgroup
                  h3 Reset Heroku Config
                  p If you would like to stop deploying this repo to Heroku, click the button below.
                  div.controls
                    a#remove-heroku-config.btn.btn-danger Remove Heroku Configuration

//- Template for apres/widget/collaborator.js widget
div#confirm-remove-collaborator-modal.modal.fade
script.template#confirm-remove-collaborator-template(type="text/template")
  div.modal-header
    button.close(data-dismiss="modal")x
    h3 Remove <%= email %>
  div.modal-body
    p Are you sure you want to remove <%= email %> from  {{display_name}}?
  div.modal-footer
      a.btn(data-dismiss="modal") No
      a.btn.btn-primary Yes, I'm sure

//- Template for apres/widget/collaborator.js widget
script.template#collaborator-loading(type="text/template")
  tr
    td
      p Loading collaborators...

//- Template for apres/widget/collaborator.js widget
script.template#collaborator-table-row(type="text/template")
  tr
    td
     | <img src="<%= gravatar %>" />
    td
     | <%= email %>
    td
     | <% if (owner) { %>
     | Owner
     | <% } else { %>
     | <a data-toggle="modal" href="#confirmRemoveCollaborator">
     |   <i class="icon-remove" id="<%= uuid %>" alt="remove"></i>
     | </a>
     | <% } %>

//- Template for apres/widget/webhooks.js widget
div#confirm-remove-webhooks-modal.modal.fade
script.template#confirm-remove-webhooks-template(type="text/template")
  div.modal-header
    button.close(data-dismiss="modal")x
    h3 Remove <%= target_url %>
  div.modal-body
    p Are you sure you want to remove <%= target_url %> webhook from  {{display_name}}?
  div.modal-footer
      a.btn(data-dismiss="modal") No
      a.btn.btn-primary Yes, I'm sure

//- Template for apres/widget/webhooks.js widget
script.template#webhook-none(type="text/template")
  tr
    td
      p No webhooks configured.


//- Template for apres/widget/webhooks.js widget
script.template#webhook-loading(type="text/template")
  tr
    td
      p Loading webhooks...

//- Template for apres/widget/webhooks.js widget
script.template#webhook-header(type="text/template")
  tr
    th
      | Target URL for HTTP POST
    th
      | Shared secret for HMAC-SHA1 signature

//- Template for apres/widget/webhooks.js widget
script.template#webhook-table-row(type="text/template")
  tr
    td
     | <%= target_url %>
    td
     | <%= secret %>
    td
     | <a data-toggle="modal" href="#confirmRemoveWebhook">
     |   <i class="icon-remove" id="<%= uuid %>" alt="remove"></i>
     | </a>

//- Template for apres/widget/deactivate.js widget
script.template#confirm-delete-project-template(type="text/template")
  div.modal-header
    button.close(data-dismiss="modal")x
    h3 Delete {{display_name}}
  div.modal-body
    p Are you sure you want to delete {{display_name}}?
  div.modal-footer
      a.btn(data-dismiss="modal") No
      a.btn.btn-primary.btn-delete-project Yes, I'm sure

//- Template for apres/widget/deactivate.js widget
script.template#deactivate-project(type="text/template")
  strong Deactivate / Activate Project
  p Temporarily turn off continuous integration and deployment. Tests and deployments will not be triggered by commits when a project is deactivated.
  | <% if (active) { %>
  | <button class="btn btn-danger btn-deactivate">Deactivate</button>
  | <% } else { %>
  | <button class="btn btn-success btn-activate">Activate</button>
  | <% } %>
  hr
  strong Delete Project
  p Permanently remove {{display_name}} from Strider
  a(data-toggle="modal",href="#confirm-delete-project",class="btn btn-danger") Delete Project
  hr
  div#confirm-delete-project.modal.fade

//- Template for apres/widget/deactivate.js widget
script.template#deactivate-loading(type="text/template")
  tr
    td
      p Loading config...

.span12
  h3 Configuration - 
    font.header-emphasis {{display_name}}
  p
    .tabbable.tabs-left
        ul.nav.nav-tabs
          li.active
            a(href='#collaborators', data-toggle='tab') Collaborators

          li
            a(href='#heroku', data-toggle='tab') Heroku Config
          li
            a(href='#github_config', data-toggle='tab') Github Config
          li
            a(href='#webhooks', data-toggle='tab') Webhooks
          li
            a(href='#deactivate', data-toggle='tab') Deactivate
          //each panel in panels
          // li
          //    a(href="#{'#' + panel.id}", data-toggle='tab') {{panel.title}}


        .tab-content
          //each panel in panels
          //  div(id="#{panel.id}").tab-pane
          //   !{panel.contents}

          #collaborators.tab-pane.active
            div#project_config_collaborators.widget(data-widget="/javascripts/apres/widget/collaborators.js").span8
              .well
                fieldset
                  legend Collaborators
                  div.alert.alert-success.hide
                  p Collaborators will be notified of build success/failure, be able to trigger test jobs and deploys, and access job details. They will not be permitted to add other new collaborators nor change any project configuration.
                  .row
                    .span4
                      table.table
                    .span3
                      .control-group
                        .controls
                          .input-append
                            input.collab-email.span2(type='text',name='new_collaborator', placeholder="email address")
                            button.btn.btn-add-collab Add
          #github_config.tab-pane
            .row-fluid
              .span10
                h3 Github Settings
                p
                hr
                strong Remove Github Webhooks
                p If you ONLY want to kickoff tests manually via the Strider web interface, Strider can remove the webhook from Github. This will mean Strider is never notified of any commits you make. If you change your mind later, we can always add them back for you from this page.
                div.actions
                  a#remove-github-webhooks.btn.btn-danger Remove Github Webhooks

          #heroku.tab-pane
            div.span8
              div.alert.alert-success.hide
              div.content

          #webhooks.tab-pane
            div#project_config_webhooks.widget(data-widget="/javascripts/apres/widget/webhooks.js").span10
              .well
                fieldset
                  legend Webhooks
                  div.alert.alert-success.hide
                  p Target URLs will receive a HTTP POST from Strider with a JSON payload on each project test run.  These enable you to receive and process real-time push notifications from our system.  Push notifications are signed cryptographically with HMAC-SHA1 using a shared secret so you can verify their authenticity. Signatures are transmitted in the 
                    a(href="http://pubsubhubbub.googlecode.com/svn/trunk/pubsubhubbub-core-0.3.html#authednotify") X-Signature-Hub header. 
                    a(href="https://gist.github.com/3029840") See a sample payload.
                  .row
                    .span6
                      table.table
                    .span2
                      .control-group
                        .controls
                          .input-append
                            input.webhook-target-url.span2(type='text', placeholder="target URL")
                            input.webhook-secret.span2(type='text', placeholder="HMAC-SHA1 secret")
                          button.btn.btn-add-webhook Add

          #deactivate.tab-pane
            div#project_config_deactivate.widget(data-widget="/javascripts/apres/widget/deactivate.js").span8

script(type="text/template").template#github-setup
    //Empty
script.template#spinner-msg(type="text/template")
  img.spinner(src="/images/spinner.gif")
  <%= message %>
