{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/stylesheets/css/codemirror.css">
<link rel="stylesheet" href="/stylesheets/css/codemirror/twilight.css">
<link rel="stylesheet" href="/stylesheets/css/config.css">
<link rel="stylesheet" href="/stylesheets/css/plugin-config-compiled.css">
<link rel="stylesheet" href="/stylesheets/css/bootstrap-switch.css">
{% endblock %}
{% block bodyContent %}
<script>
  var project = {{ project | scriptjson | raw }};
  var plugins = {{ plugins | scriptjson | raw }};
  var runners = {{ runners | scriptjson | raw }};
  var branches = {{ branches | scriptjson | raw }};
  var statusBlocks = {{ statusBlocks | scriptjson | raw }};
  var collaborators = {{ collaborators | scriptjson | raw }};
  var branches = {{ project.branches | scriptjson | raw }};
  var allBranches = {{ allBranches | scriptjson | raw }};
  var userIsCreator = {{ userIsCreator }};
  var userConfigs = {{ userConfigs | scriptjson | raw }};
</script>
<div id="config-wrapper" class="ng-cloak" ng-app="config" ng-controller="AlertsController">
  <div ng-controller="Config">
    <div class="notify-wrapper pull-right">
      <div id="notify" ng-class="{ visible: message.showing }" class="alert alert-[[ message.type ]]">
        <a type="button" class="close" ng-click="clearMessage()">&times;</a>
        <div class="message" ng-bind-html="message.text"></div>
      </div>
    </div>
    <h3>
      Configuration - <a href="/{{ project.name }}/" class="header-emphasis">{{ project.display_name }}</a>
      {% if project.provider %}
      <a href="{{ project.display_url }}" target="_blank">
        <i class="fa fa-{{ provider.id }}"></i>
      </a>
      {% endif %}
      <span class="branch-picker pull-right">
        <select ng-model="branch" ng-options="branch as branch.name for branch in branches track by branch.name">
        </select>
        <button
           class="btn"
           ng-hide="branch.name === 'master'"
           ng-switch="!!branch.mirror_master"
           ng-click="toggleBranch()">
          <span ng-switch-when="true">
            Customize Branch
          </span>
          <span ng-switch-when="false">
            Mirror Master
          </span>
        </button>
      </span>
    </h3>
    <span class="pull-right">
      <a
        class="btn btn-primary"
        ng-hide="branch.name.indexOf('*') > -1"
        data-placement="bottom"
        data-toggle="tooltip"
        title="Retest &amp; Deploy Branch"
        ng-click="startDeploy()">
        <i class="fa fa-cloud-upload"></i>
        &nbsp;Deploy Branch
      </a>
      <a
        class="btn btn-success"
        ng-hide="branch.name.indexOf('*') > -1"
        data-placement="bottom"
        data-toggle="tooltip"
        title="Retest Branch"
        ng-click="startTest()">
        <i class="fa fa-bug"></i>
        &nbsp;Test Branch
      </a>
    </span>
    <br/>
    <p>
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs span2 config-tabs" ng-show="!branch.mirror_master">
          <li class="active"><a id="project-tab-handle" href="#tab-project" data-toggle="tab">Project</a></li>
          <li><a id="basic-tab-handle" href="#tab-basic" data-toggle="tab">Branch</a></li>
          <li><a href="#tab-plugins" data-toggle="tab">Plugins</a></li>

          {% for runner in runners %}
          <li ng-show="!branch.mirror_master && branch.runner.id === '{{ loop.key }}'">
            <a href="#runner-{{ loop.key }}" data-toggle="tab">Runner: {{ runner.title }}</a>
          </li>
          {% endfor %}

          {% for plugin in plugins %}
          <li ng-show="!branch.mirror_master && configured[branch.name]['{{ loop.key }}']"
              ng-class="{ disabled: !configs[branch.name]['{{ loop.key }}'].enabled }">
            <a href="#plugin-{{ loop.key }}" data-toggle="tab">{{ plugin.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <div ng-switch="branch.mirror_master">
          <div ng-switch-when="true" class="tab-content span10">
            <p class="well">
              The configuration for this branch is the same as master,
              except that "deploy_on_green" is
              false. Click <button class="btn" ng-click="toggleBranch()">Customize Branch</button> to
              configure this branch separate from master.
            </p>
          </div>
          <div class="tab-content span10" ng-switch-default>
            <div id="loading" class="hide">
              <img src="/images/spinner.gif" class="spinner"/>
              [[ loadingMessage ]]
            </div>

            <div id="tab-project" class="tab-pane active">
              {% include "config/project.html" %}
            </div>

            <div id="tab-basic" class="tab-pane">
              {% include "config/basic.html" %}
            </div>

            <div id="tab-plugins" class="tab-pane">
              {% include "config/plugins.html" %}
            </div>

            {% for runner in runners %}
            <div id="runner-{{loop.key}}" class="tab-pane" ng-controller="{{runner.controller}}">
              {% autoescape false %}
              {{ runner.html }}
              {% endautoescape %}
            </div>
            {% endfor %}

            {% for plugin in plugins %}
            <div id="plugin-{{loop.key}}" class="tab-pane plugin-tab" ng-controller="{{plugin.controller}}">
              {#<div class="disabled-note"
                   ng-class="{ disabled: !configs[branch.name]['{{ loop.key }}'].enabled }"
                   ng-switch="configs[branch.name]['{{ loop.key }}'].enabled">
                <span ng-switch-when="false">
                  This plugin is disabled. <button class="btn" ng-click="setEnabled('{{ loop.key }}', true)">Enable</button>
                </span>
                <span ng-switch-default><button class="btn" ng-click="setEnabled('{{ loop.key }}', false)">Disable</button></span>
              </div>#}
              {% autoescape false %}
              {{ plugin.html }}
              {% endautoescape %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </p>
  </div>
</div>
<script src="/javascripts/lib/bootstrap-switch.js"></script>
<script src="/javascripts/lib/codemirror-compressed.js"></script>
<script src="/javascripts/lib/ui-codemirror.js"></script>
<script src="/javascripts/lib/jquery-ui.js"></script>
<script src="/javascripts/lib/sortable.js"></script>
<script src="/javascripts/modules/alerts.js"></script>
<script src="/javascripts/modules/moment.js"></script>
<script src="/javascripts/pages/config.js"></script>
<script src="/javascripts/config/collaborators.js"></script>
<script src="/javascripts/config/branches.js"></script>
<script src="/javascripts/pages/plugin-config-compiled.js"></script>
{% endblock %}
