/*Sample CSS for the feedback jQuery plugin. If you are not using 'feedback_form' as the ID for your form, you will 
need to change the selectors in this CSS file.  */
#feedback {
	cursor:pointer;
	border:3px solid #ddd;
	border-right:0;
}
#feedback_form {
	padding:20px;
	border-radius:8px;
	-moz-border-radius:8px;
	width:400px;
	font-style:Arial;
	background-color:#ddd;
}
#feedback_close {
	position:absolute;
	top:-17px;
	right:-17px;
	cursor:pointer;
}
#feedback_form input {
	font-size:14pt;
	margin-bottom:20px;
	outline:none;	
}
/*#feedback_form textarea {
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:6px;
	border-color:#aaa;
}*/
#feedback_form label {
	display:block;
	margin-bottom:5px;
	font-weight:bold;
	font-size:14pt;
	color:#444;
}
#submit {
	display:block; width:100px;
	text-align:center; margin:10px auto;
	cursor:pointer; color:#FFFFFF;
	background-color:#0E59AE; border:1px solid rgba(0, 0, 0, 0.25);
	font-size:13px; font-weight:bold;
	line-height:1; overflow:visible;
	padding:5px 15px 6px; 
	 
	/*css 3 styling */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.50);
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
}