#manual-setup .general {
  margin-bottom: 10px;
}
#manual-setup .general input {
  margin-bottom: 0;
}
#manual-setup form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px 15px;
  margin-bottom: 10px;
}
#manual-setup .provider-specific {
  margin-bottom: 10px;
}
input.ng-dirty.ng-invalid,
input.ng-dirty.ng-invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.adding-repo {
  margin-top: -4px;
  margin-right: 10px;
}
.adding-repo .setting-up {
  padding-top: 5px;
}
.adding-repo .setting-up .text {
  margin-right: 0;
}
.adding-repo .setting-up i {
  color: #aaa;
  font-size: 13px;
  margin-left: 7px;
  margin-right: 5px;
}
.adding-repo .text {
  font-weight: normal;
  font-size: 16px;
  margin-right: 10px;
}
.adding-repo .close {
  margin-top: 2px;
  margin-left: 7px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.accounts-nav {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 18px;
}
.accounts-nav ul {
  margin-bottom: 0;
}
.accounts-nav .refresh {
  margin: 2px;
  padding: 8px;
  border-raddius: 5px;
}
.accounts-nav a {
  color: white;
}
.repo-list {
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
}
.repo-list .repo {
  padding: 10px 5px 10px 15px;
  border-bottom: 1px solid #ccc;
}
.repo-list .repo.configured a.view-jobs {
  color: green;
}
.repo-list .repo a:hover {
  text-decoration: none;
}
.repo-list .repo:last-child {
  border-bottom: none;
}
.repo-list .repo:hover {
  background-color: #eee;
}
.repo-list .repo .hosted-url {
  margin-right: 5px;
}
.repo-list .repo .action {
  margin-top: -4px;
}
.groups-list {
  font-size: 20px;
}
.groups-list a {
  line-height: 24px;
  border-radius: 5px;
}
.groups-list a .label {
  line-height: 17px;
  font-size: 17px;
  padding-top: 4px;
  margin-right: -10px;
}
