/** alerts things. Move this to alerts.less? **/
@media (min-width: 981px) {
  #notify .message {
    max-width: 425px;
  }
}
@media (min-width: 1200px) {
  #notify .message {
    max-width: 655px;
  }
}
@media (max-width: 980px) and (min-width: 769px) {
  #notify .message {
    max-width: 210px;
  }
}
.finished-at .cancel-job {
  color: red;
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
  float: right;
}
.finished-at .cancel-job:hover {
  color: black;
}
.alert a {
  font-weight: bold;
  text-decorate: underline;
}
#notify {
  opacity: 0;
  position: fixed;
  z-index: 100;
  top: 60px;
  right: 170px;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
#notify.visible {
  opacity: 1;
}
#notify .message {
  overflow: hidden;
}
.notify-wrapper {
  box-sizing: border-box;
  height: 41px;
}
html,
body,
.tall {
  height: 100%;
}
body {
  background-color: #fff;
}
.wrap {
  min-height: 100% !important;
  height: 100%;
}
.no-bottom {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.body-content {
  margin-top: 20px;
}
#kickoff-app .github-main-content p,
#kickoff-app .github-main-content {
  font-size: 18px;
  line-height: 26px;
}
#build-page .job-title h3 {
  font-size: 29px;
  margin-top: 0px;
  margin-left: 18px;
}
#build-page .job-title h3 .test-only-action {
  color: green;
}
#build-page .job-title h3 .test-and-deploy-action {
  color: #2900ff;
}
#build-page #list-of-builds {
  /*
    .finished-at,
    .refresh,
    .committer,
    .deploy,
    .configure,
    .run-time,
    .job-link {
      width: 1px;
      white-space: nowrap;
    }
    */
}
#build-page #list-of-builds td.committer {
  padding: 0;
}
#build-page #list-of-builds td.committer img {
  margin-top: 4px;
  height: 25px;
  width: 25px;
  max-width: inherit;
}
#build-page #list-of-builds tr {
  background-color: transparent;
  cursor: pointer;
}
#build-page #list-of-builds .active.failed {
  background-color: #ffd2d0;
}
#build-page #list-of-builds .active.errored {
  background-color: #dddddd;
}
#build-page #list-of-builds .active.passed {
  background-color: #cfffd2;
}
#build-page #list-of-builds .active.running {
  background-color: #d7f3ff;
}
#build-page #list-of-builds tr:hover {
  background-color: #eee;
}
#build-page .commit-url {
  width: auto;
}
.last-builds {
  border-collapse: separate;
  border-spacing: 2px;
  margin: 9px;
}
.last-builds .status-passed {
  background-color: #cfffd2;
}
.last-builds .status-failed {
  background-color: #ffd2d0;
}
.last-builds .status-errored {
  background-color: #dddddd;
}
.progress {
  margin-bottom: 0;
}
.dashboard-row,
#dashboard table tr {
  padding: 10px 0;
}
.dashboard-row .action-buttons div,
#dashboard table tr .action-buttons div {
  visibility: hidden;
}
.dashboard-row td,
#dashboard table tr td {
  padding: 10px 0;
  position: relative;
  font-size: 16px;
}
.dashboard-row td a:hover,
#dashboard table tr td a:hover {
  text-decoration: none;
}
.dashboard-row td > a,
#dashboard table tr td > a,
.dashboard-row td > span,
#dashboard table tr td > span {
  display: inline-block;
  padding: 5px 10px;
}
.dashboard-row span.clickable,
#dashboard table tr span.clickable,
.dashboard-row a,
#dashboard table tr a {
  color: black;
  cursor: pointer;
}
.dashboard-row .github-link,
#dashboard table tr .github-link {
  width: 1px;
}
.dashboard-row:hover .action-buttons > div,
#dashboard table tr:hover .action-buttons > div {
  visibility: visible;
}
.dashboard-row .small-text,
#dashboard table tr .small-text {
  display: inline-block;
}
.dashboard-row .action-buttons,
#dashboard table tr .action-buttons {
  width: 100px;
  text-align: center;
}
.dashboard-row .action-buttons .btn-group,
#dashboard table tr .action-buttons .btn-group {
  padding-top: 4px;
}
.dashboard-row .progress-meter .progress,
#dashboard table tr .progress-meter .progress {
  margin-bottom: 0;
}
.dashboard-row .committer a,
#dashboard table tr .committer a {
  padding: 0;
}
.dashboard-row .committer img,
#dashboard table tr .committer img {
  width: 35px;
  height: 35px;
  max-width: inherit;
  margin-bottom: -13px;
  margin-top: -1px;
  border: 2px solid #9AF;
  border-radius: 10px;
}
.dashboard-row .project-name a,
#dashboard table tr .project-name a {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  width: 100%;
}
.dashboard-row .run-time,
#dashboard table tr .run-time {
  text-align: center;
}
.dashboard-row i,
#dashboard table tr i {
  font-size: 150%;
}
.dashboard-row .commit-url,
#dashboard table tr .commit-url {
  max-width: 300px;
  overflow: hidden;
}
.dashboard-row .clickable i:hover,
#dashboard table tr .clickable i:hover,
.dashboard-row a:hover,
#dashboard table tr a:hover {
  color: #aaa;
}
.dashboard-row .finished-at,
.dashboard-row .refresh,
.dashboard-row .commit-url,
.dashboard-row .committer,
.dashboard-row .deploy,
.dashboard-row .configure,
.dashboard-row .run-time,
.dashboard-row .job-link {
  width: 1px;
  white-space: nowrap;
}
@media (max-width: 980px) {
  #dashboard .commit-header,
  #dashboard .commit-url,
  #dashboard .job-link a span {
    display: none;
  }
}
@media (min-width: 769px) {
  #dashboard .finished-at,
  #dashboard .refresh,
  #dashboard .commit-url,
  #dashboard .committer,
  #dashboard .deploy,
  #dashboard .configure,
  #dashboard .run-time,
  #dashboard .job-link {
    width: 1px;
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  #dashboard .finished-at {
    display: none;
  }
}
@media (max-width: 650px) {
  #dashboard {
    overflow: auto;
  }
  #dashboard .deploy,
  #dashboard .deploy-header,
  #dashboard .refresh,
  #dashboard .refresh-header,
  #dashboard .configure,
  #dashboard .configure-header,
  #dashboard .committer,
  #dashboard .committer-header,
  #dashboard .github-header,
  #dashboard .github-link {
    display: none;
  }
}
@media (max-width: 450px) {
  #dashboard table tr .project-name a {
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
  }
}
.configure-action i {
  margin-top: 4px;
  display: inline-block;
  margin-left: 5px;
}
.docs-section {
  padding-top: 40px;
}
.docs p {
  font-size: 15px;
}
img.manual_setup {
  border: 1px solid #021a40;
}
.success {
  background: #9BCD9B;
}
.failure {
  background: #EE6363;
}
.success-text {
  color: #46a546;
}
.failure-text {
  color: #9d261d;
}
.error-text {
  color: #999;
}
.waiting-text {
  color: #0af;
}
footer {
  border-top: 1px solid #ddd;
  background-color: #f0f0f0;
  margin-top: 30px;
  padding: 10px;
}
footer p {
  text-align: center;
  /* center align it with the container */
}
.dashboard-button,
.repo-action,
.start-manual-setup {
  float: right;
}
.header-emphasis {
  color: #455b87;
}
.job-pre-console {
  margin-top: 15px;
}
.job-list {
  border: 1px solid;
  border-radius: 3px;
  margin-left: 10px;
}
.job-list-item {
  width: 95%;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}
.job-list-item:nth-child(2n) {
  background-color: #f5f5f5;
}
.job-notice {
  float: right;
}
#build-metadata {
  padding: 8px;
  border-radius: 3px;
}
#list-of-builds table {
  margin-bottom: 0;
}
#build-detail-buttons {
  border: 1px solid;
  border-radius: 3px;
  margin-left: 10px;
  padding: 10px;
}
.build-list-item {
  width: auto;
  padding: 5px;
  border-bottom: 1px solid #CCB;
}
.build-list-header {
  width: 90%;
}
#commit-id,
.build-item-committer {
  float: right;
}
#commit-msg,
#build-duration,
.build-item-duration {
  float: right;
}
div#repo-list-viewall {
  margin: 15px;
}
.results-detail-times {
  border-top: 1px solid;
  border-color: #999999;
}
table.log {
  font-family: "Monaco", Courier, monospace;
  font-size: 14px;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 20px;
  clear: both;
}
tr.logEntry {
  height: 53px;
}
tr.logEntry td {
  border-top: solid thin #CCC;
  padding: 0.5em;
  text-align: left;
}
.logEntry {
  color: #444;
}
.logEntry.repeated {
  display: none;
}
a.repeats {
  font-size: 75%;
  padding: 5px 5px 2px 5px;
  background-color: #EEE;
  border: 1px solid #999;
  opacity: 0.8;
  color: black;
  text-decoration: none;
}
.commandDetails .request {
  height: 20px;
}
.commandDetails .answer {
  color: #909;
  float: right;
  max-width: 75%;
  text-align: right;
}
.commandDetails .result {
  font-size: 80%;
  display: inline;
}
.commandDetails span.duration {
  color: #999;
  font-size: 80%;
  padding-left: 15px;
}
.commandDetails table {
  border: none;
  margin-top: 5px;
  font-size: 80%;
  margin-left: 1em;
}
.commandDetails table th {
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;
}
.commandDetails table td {
  border: none;
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;
}
.passed {
  background-color: #cfffd2;
}
.failed {
  background-color: #ffd2d0;
}
.errored {
  background-color: #dddddd;
}
.running {
  background-color: #d7f3ff;
}
.warning {
  background-color: #fffca9;
}
.submitted {
  background-color: #d7f3ff;
}
.repeated.passed {
  background-color: #cfffd2;
}
.repeated.failed {
  background-color: #ffd2d0;
}
td.screenshot img {
  width: 40px;
  height: 30px;
}
tr.logEntry td.screenshot {
  font-family: 'Myriad Pro', Myriad, Helvetica, Arial, sans-serif;
  width: 6.5em;
  padding-left: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  .repo-action {
    float: left;
  }
}
.gravatar {
  display: inline-block;
  margin-top: -2px;
  margin-bottom: 2px;
  margin-right: 3px;
  padding: 1px;
  line-height: 1px;
  vertical-align: middle;
  font-size: 1px;
  background: #fff;
  border: 1px solid #c8c8c8;
}
.hero-subunit {
  padding: 60px;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  border-radius: 6px;
}
.hero-subunit p {
  font-size: 18px;
  font-weight: 200;
}
hero-vsub-unit {
  padding: 60px;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  border-radius: 6px;
}
hero-vsub-unit p,
hero-vsub-unit label {
  font-size: 18px;
  font-weight: 200;
}
.big-label {
  padding: 1px 3px 2px;
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #999999;
  border-radius: 3px;
}
@media (min-width: 768px) {
  body .wrap {
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  
  html,
  body {
    background-color: #eee;
  }
  body .wrap {
    padding-top: 60px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: -80px;
    padding-bottom: 80px;
    /* 40px to make the container go all the way to the bottom of the topbar */
  }
  .nav-collapse {
    padding-left: 80px;
  }
  footer p {
    text-align: center;
    /* center align it with the container */
  }
}
@media (max-width: 480px) {
  .hero-unit {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    border-radius: 6px;
  }
  .hero-unit h1 {
    margin-right: 0;
    margin-left: 0;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1px;
  }
  .hero-unit p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
  }
}
/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
.topbar .btn {
  border: 0;
}
.spinner {
  vertical-align: middle;
  margin-right: 20px;
}
#spinner {
  display: none;
}
pre.console-output {
  overflow: auto;
  background-color: black;
  color: white;
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: pre;
}
pre.console-output-segment {
  width: 96%;
  overflow: auto;
  background-color: black;
  color: white;
}
span.green {
  color: green;
}
span.blue {
  color: blue;
}
span.red {
  color: #CE160C;
}
span.white {
  color: #BDC7C7;
}
span.yellow {
  color: #C6C33C;
}
span.magenta {
  color: magenta;
}
span.cyan {
  color: cyan;
}
span.grey {
  color: grey;
}
span.bg-green {
  background-color: green;
}
span.bg-blue {
  background-color: blue;
}
span.bg-red {
  background-color: #CE160C;
}
span.bg-white {
  background-color: #BDC7C7;
}
span.bg-yellow {
  background-color: #C6C33C;
}
span.bg-magenta {
  background-color: magenta;
}
span.bg-cyan {
  background-color: cyan;
}
span.bg-grey {
  background-color: grey;
}
span.bold {
  font-weight: bold;
}
span.italic {
  font-style: italic;
}
span.underline {
  text-decoration: underline;
}
.sidebar-nav {
  padding: 9px 0;
}
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
}
.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
/* pricing (from wrapbootstrap template) */
#pricing h2 {
  text-align: center;
  font-size: 14pt;
  font-weight: 500;
}
#pricing span.price {
  color: #f14a29;
  display: block;
  font-size: 12pt;
}
#pricing p {
  padding-top: 10px;
  text-align: center;
}
#pricing ul {
  text-align: center;
}
.pricing_box {
  -webkit-box-shadow: 5px 8px 0px 0px black;
  -moz-box-shadow: 0 8px 0px 0px #d3d3d3;
  box-shadow: 5px 8px 6px -6px #d3d3d3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #e1e1e1;
  padding: 10px 0px;
}
#pricing_select {
  background: #f14a29;
  color: #FFF;
}
#pricing_select small {
  color: #FFFFFF;
  font-weight: 600;
}
#pricing_select span.price {
  color: #FFFFFF;
}
#pricing_action {
  text-align: center;
  padding-top: 30px;
}
