script.template#dashboard-job-item(type="text/template")
  .row-fluid.build
    .span2
      .btn-group.dashboard-button
        | <% if (success===true) {%>
        |   <a href="<%= "/" + project_name + "/latest_build" %>" class="btn btn-success">View</a>
        | <% } else if (success==="N/A") { %>
        |   <a class="btn btn-primary test-only-action" href="javascript:;">Test </a>
        | <% } else {%>
        |   <a href="<%= "/" + project_name + "/latest_build" %>" class="btn btn-danger">View</a>
        | <% } %>
        button.btn.test-only-action(data-toggle='tooltip', title='Test only'): i.icon-refresh
        button.btn.test-and-deploy-action(data-toggle='tooltip', title='Test & Deploy'): i.icon-share-alt
    .span10
      .row-fluid
        .span9
          h3
            a(href!='/<%=project_name%>/latest_build') <%= project_name %>
            a.github-link(href!='<%=repo_url%>', target="_blank") (github)
            a.configure-action(href!='/<%=project_name%>/config', data-toggle='tooltip', title='Configure')
              i.icon-cog
        .span3
          .job-notice
            | <% if (success===true) {%>
            | <h3 class="success-text"><%= success_text %></h3>
            | <%} else if (success === "N/A" || success === "TBD") {%>
            | <h3><%= success_text %></h3>           
            | <%} else {%>
            | <h3 class="failure-text"><%= success_text %></h3>
            | <% } %>
      .row-fluid
        | <% if (success === "N/A") { %>
        | <% } else {%>
        | <% if (triggered_by_commit) { %>
        |   <div class="span6" id="committer">
        |     <strong>Committer:</strong> 
        |     <%= committer %>
        |   </div>
        |   <div class="span6">
        |     <div id="commit-id"> 
        |       <strong>Commit ID:</strong> 
        |       <a href=<%= "https://github.com/" + project_name + "/commit/" + commit_id %> ><%= commit_id.substr(0,8) %></a>
        |     </div>  
        | </div>
        | <% } else { %>
        | <div class="span6" id="repo-branch">
        |   <strong>Branch:</strong> 
        |   <a>master</a>
        | </div>
        | <div class="span6">
        |   <div id="commit-id">
        |     <strong>Job:</strong> 
        |     <a href=<%= job_url %> ><%= job_id.substr(0,8) %></a>
        |   </div>
        | </div>
        | <% }} %>

      .row-fluid
        .span6
          #finished-at
            strong Finished: 
            <% if (finished_timestamp) { %>
            time.timeago(data-toggle='tooltip', data-placement='right', datetime!='<%= finished_timestamp %>')
            <% } else { %> <em>In Progress</em> <% } %>
        .span6
          #build-duration
            strong Running Time: 
            | <%= duration_text === 'N/A' ? '' : duration_text + 's' %>
      .row-fluid
        .span6
          .progress-meter.hide
              div.progress.progress-striped.active.progress-info
                div.bar
  .row-fluid
    hr
