
<script id="dashboard-job-item" type="text/template" class="template">
  <div class="row-fluid build">
    <div class="span2">
      <div class="btn-group dashboard-button">
        <% if (success===true) {%>
          <a href="<%= "/" + project_name + "/latest_build" %>" class="btn btn-success">View</a>
        <% } else if (success==="N/A") { %>
          <a class="btn btn-primary test-only-action" href="javascript:;">Test </a>
        <% } else {%>
          <a href="<%= "/" + project_name + "/latest_build" %>" class="btn btn-danger">View</a>
        <% } %>
        <button data-toggle="tooltip" title="Test only" class="btn test-only-action"><i class="icon-refresh"></i></button>
        <button data-toggle="tooltip" title="Test &amp; Deploy" class="btn test-and-deploy-action"><i class="icon-share-alt"></i></button>
      </div>
    </div>
    <div class="span10">
      <div class="row-fluid">
        <div class="span9">
          <h3><a href="/<%=project_name%>/latest_build"><%= project_name %></a><a href="<%=repo_url%>" target="_blank" class="github-link">(github)</a><a href="/<%=project_name%>/config" data-toggle="tooltip" title="Configure" class="configure-action"><i class="icon-cog"></i></a></h3>
        </div>
        <div class="span3">
          <div class="job-notice">
            <% if (success===true) { %>
            <h3 class="success-text"><%= success_text %></h3>
            <% } else if (success === "N/A" || success === "TBD") { %>
            <h3><%= success_text %></h3>           
            <% } else { %>
            <h3 class="failure-text"><%= success_text %></h3>
            <% } %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <% if (success === "N/A") { %>
        <% } else {%>
        <% if (triggered_by_commit) { %>
          <div class="span6" id="committer">
            <strong>Committer:</strong> 
            <%= committer %>
          </div>
          <div class="span6">
            <div id="commit-id"> 
              <strong>Commit ID:</strong> 
              <a href=<%= "https://github.com/" + project_name + "/commit/" + commit_id %> ><%= commit_id.substr(0,8) %></a>
            </div>  
        </div>
        <% } else { %>
        <div class="span6" id="repo-branch">
          <strong>Branch:</strong> 
          <a>master</a>
        </div>
        <div class="span6">
          <div id="commit-id">
            <strong>Job:</strong> 
            <a href=<%= job_url %> ><%= job_id.substr(0,8) %></a>
          </div>
        </div>
        <% }} %>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <div id="finished-at"><strong>Finished: </strong><% if (finished_timestamp) { %>
            <time data-toggle="tooltip" data-placement="right" datetime="<%= finished_timestamp %>" class="timeago"></time><% } else { %> <em>In Progress</em> <% } %>
          </div>
        </div>
        <div class="span6">
          <div id="build-duration"><strong>Running Time: </strong><%= duration_text === 'N/A' ? '' : duration_text + 's' %></div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <div class="progress-meter hide">
            <div class="progress progress-striped active progress-info">
              <div class="bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <hr/>
  </div>
</script>
