script.template#dashboard-item(type="text/template")
  .row-fluid.configuredrepo
    .span8
      p
        | <a href=<% print(html_url); %> >
        | <% print(html_url.replace(/https:\\/\\/github.com/gi, '')); %>
        | </a>
      p <%= description %>
    .span4
      |<% if (!configured) { %>
      |<a href=<% print("/kickoff/"+ id); %> class="btn btn-primary repo-action">Add</a>
      |<% } else { %>
      |<div class="btn-group repo-action">
      |<a class="btn dropdown-toggle" data-toggle="dropdown">Run<span class="caret"></span></a>
      |<ul class="dropdown-menu">
      |<li><a class="test-and-deploy-action" href="javascript:;">Test & deploy</a></li>
      |<li><a class="test-only-action" href="javascript:;">Test only</a></li>
      |</ul>
      |</div>
      |<% } %>
  .row-fluid
    hr
