p Hi, 
p Striderapp.com here. You have successfully changed your email address from #{old_email} to #{user.email}. 
p If you did not initiate this change, please contact us immediately by replying to this email and we will reset access to your account. 
p Regards, 
p StriderApp.com
  br
  | Brilliant Continuous Deployment