<div class='flex mb-2'>
  <button
    type='button'
    class='bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white text-sm py-1 px-2 border border-blue-500 hover:border-transparent rounded-full shadow mr-2'
    {{on 'click' this.deploy}}
  >
    Deploy
  </button>

  <button
    type='button'
    class='bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white text-sm py-1 px-2 border border-blue-500 hover:border-transparent rounded-full shadow'
    {{on 'click' this.test}}
  >
    Test
  </button>
</div>