| Hi,
| You have been invited to Strider running at:
|#{strider_server_name}
| Your invite code is:
| #{code}
| You may register an account with this code at:
| #{strider_server_name}/?code=#{code}
| Regards, 

| Strider
| Brilliant Continuous Deployment
