| Hi,
| #{inviter} has added you as a collaborator on StriderApp.com for #{display_name}

| You will now see the status of this project when you login to Strider and you will receive build status notifications via email.

| Regards, 

| StriderApp.com
| Brilliant Continuous Deployment
