script.template#gondor-key-prompt(type="text/template")
  div.span8
      fieldset
        legend Gondor Deploy Configuration
        div.control-group
          label.control-label(for="site-key") Gondor Site Key
          div.controls
            input.input-xlarge#site-key(type="text")
            p.help-block Find this under the "Sites" page on Gondor.io
          label.control-label(for="username") Gondor Username
          div.controls
            input.input-xlarge#username(type="text")
          label.control-label(for="password") Gondor Password
          div.controls
            input.input-xlarge#password(type="password")
        div.form-actions
          button.btn.btn-primary Ok

script.template#gondor-instance-prompt(type="text/template")
  div.span8
    div#spinner.alert.alert-info
  div.span8
      fieldset
        legend Gondor Deploy Configuration
        div.control-group
          label.control-label(for="instance") Gondor Instance
          div.controls
            select#app.
              <option value="@@new@@">--Create new instance--</option>
               <% _.each(gondor_instances, function(app) { %>
                 <option value="<%= instance.name %>"><%= instance.name %></option>
               <% }); %>
            p.help-block Deploy to existing Gondor instance or create a new one for this repository
            div.appname
              label.control-label(for="new-instance-name") New instance name
              input.input-xlarge#new-instance-name(type="text", placeholder="my-new-instance")
              p.help-block Name of instance to create
        div.form-actions
          button.btn.btn-primary Ok
