script.template#heroku-app-prompt(type="text/template")
  div.span8
      fieldset
        legend Heroku Deploy Configuration
        div.control-group
          label.control-label(for="app") Heroku App
          div.controls
            select#app.
              <option value="@@new@@">--Create new app--</option>
               <% _.each(heroku_apps, function(app) { %>
                 <option value="<%= app.name %>"><%= app.name %></option>
               <% }); %>
            p.help-block Deploy to existing Heroku app or create a new one for this repository
            div.appname
              label.control-label(for="new-app-name") New app name
              input.input-xlarge#new-app-name(type="text", placeholder="my-new-app")
              p.help-block Name of app to create
        div.form-actions
          button.btn.btn-primary.heroku-select Ok
          button.btn.btn-back << Go back
