script.template#heroku-key-prompt(type="text/template")
  div.span8
      fieldset
        legend Heroku Deploy Configuration
        div.control-group
          label.control-label(for="api-key") Heroku API Key
          div.controls
            input.input-xlarge#api-key(type="password")
              p.help-block Find this under the 
                a(href="https://api.heroku.com/account") "My Account" page 
              | on Heroku.com

        div.form-actions
          button.btn.btn-primary.heroku-prompt Ok
