
<script id="heroku-key-prompt" type="text/template" class="template">
  <div class="span8">
    <fieldset>
      <legend>Heroku Deploy Configuration</legend>
      <div class="control-group">
        <label for="api-key" class="control-label">Heroku API Key</label>
        <div class="controls">
          <input id="api-key" type="password" class="input-xlarge"/>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary heroku-prompt">Ok</button>
      </div>
    </fieldset>
  </div>
</script>