script.template#kickoff-done(type="text/template")
  div.span8
        p Continuous Deployment setup successfully configured! Strider will now run tests on every commit and deploy if they pass.
        | Press Ok to return to the main dashboard.
        div.form-actions
            a.btn.btn-primary(href="/") Ok
script.template#paas-select(type="text/template")
  div.span8
    fieldset
      legend Choose Platform-as-a-Service Provider for Deployment
      div.control-group
        label.control-label(for="paas") Which PaaS to use?
        div.controls
          label.radio
            input(type="radio", name="paasRadios", value="heroku")
            p Heroku
  div#subview
