import Project from './project';
---hbs---

<h2 class='flex justify-between items-center text-2xl mb-3'>
  <div class='flex items-center'>
    Your Projects
  </div>
</h2>

<ul>
  {{#if @model.jobs.yours.length}}
    {{#each @model.jobs.yours as |job|}}
      <li>
        <Project @job={{job}} />
      </li>
    {{/each}}
  {{else}}
    <li>
      You have no projects yet.
    </li>
  {{/if}}
</ul>

{{#if @model.jobs.public.length}}
  <h2 class='flex justify-between items-center text-2xl mb-3'>
    <div class='flex items-center'>
      Public Projects
    </div>
  </h2>

  <ul>
    {{#if @model.jobs.public.length}}
      {{#each @model.jobs.public as |job|}}
        <li>
          <Project @job={{job}} />
        </li>
      {{/each}}
    {{/if}}
  </ul>
{{/if}}