import Project from './-components/project';
import LiveProjects from './-components/live-projects';
---hbs---

<h2 class='flex justify-between items-center text-2xl mb-3'>
  <div class='flex items-center'>
    Your Projects
  </div>
</h2>

<LiveProjects @jobs={{@model.jobs}} as |jobs|>
  <ul>
    {{#if jobs.yours.length}}
      {{#each jobs.yours as |job|}}
        <li>
          <Project @job={{job}} />
        </li>
      {{/each}}
    {{else}}
      <li>
        You have no projects yet.
      </li>
    {{/if}}
  </ul>

  {{#if jobs.public.length}}
    <h2 class='flex justify-between items-center text-2xl mb-3'>
      <div class='flex items-center'>
        Public Projects
      </div>
    </h2>

    <ul>
      {{#if jobs.public.length}}
        {{#each jobs.public as |job|}}
          <li>
            <Project @job={{job}} />
          </li>
        {{/each}}
      {{/if}}
    </ul>
  {{/if}}
</LiveProjects>