script.template#change-password(type="text/template")
  div.password-message
  div.well
    fieldset
      legend Change Password
      div.control-group.password
        label.control-label(for='password') New Password
        div.controls
          input.xlarge(type='password', name='password')
          span.help-inline.password
      div.control-group.password-confirm
        label.control-label(for='password_confirm') New Password Confirm
        div.controls
          input.xlarge(type='password', name='password_confirm')
          span.help-inline.password-confirm
      div.actions
        button.btn Change Password