script.template#change-email(type="text/template")
  div.email-message
  div.well
    fieldset
      legend Change Email
      div.control-group.email
        label.control-label(for='email') New Email Address
        div.controls
          input.xlarge(type='text', name='email')
          span.help-inline.email
      div.actions
        button.btn Change Email