<script id="project-config-item" type="text/template" class="template">
  <div class="row-fluid">
    <div class="span10">
      <p>
        <% if (!configured) {
           print(short_url);
         } else { %>
        <a href="<%= short_url %>/config" class="config-link"><% print(short_url); %></a>
        <% } %>
        <a href="<%= html_url %>" class="github-link">(github)</a>
        <span class="description"><%= description %></span>
      </p>
    </div>
    <div class="span2">
      <div class="switcher switch switch-small pull-right">
      <input id="" type="checkbox" <% if (configured) { %>checked="checked"<% } %>/>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12"><hr/></div>
  </div>
</script>
