<script class='template' id='project-config-app' type="text/template">
  <div class='row-fluid'>
    <div class='span6'>
      <h3>Available Repositories:</h3>
    </div>
    <div class='span4'>
      <input class='repoFilters' placeholder="filter" />
    </div>
    <div class='span2'>
      <a class='btn refresh-button repo-action'>
        <i class='icon-refresh'></i>
      </a>
    </div>
  </div>
  <hr />
  <div id ='repo-list'>
    <div class='row-fluid'>
      <div class='span8'>
        <p>Configure a project manually</p>
      </div>
      <div class='span4'>
        <a class='btn btn-inverse start-manual-setup' href="/manual_setup">Start</a>
      </div>
    </div>
  </div>
  <hr />
</script>
