script.template#project-config-app(type="text/template")
  .span12
    .row-fluid
      .span8
        .row-fluid
          .span6
            h3 Available Repositories:
          .span4
            input.repoFilters(placeholder="filter")
          .span2
            a.btn.refresh-button.repo-action
              i.icon-refresh
        hr
        #repo-list
        .row-fluid
          .span8
            p Configure a project manually
          .span4
            a.btn.btn-inverse.start-manual-setup(href="/manual_setup") Start
        .row-fluid
          .span12
            hr
