<script class='template' id ='project-config-item' type="text/template">
  .row-fluid
    .span8
      p
        |<% if (!configured) { %>
        | <% print(short_url); %>
        | (<a href=<%= html_url %> >github</a>)
        | <% } else { %>
        | <a href=<%= short_url %> + "/config" %>>
        | <% print(short_url); %>
        | </a>
        | (<a href=<%= html_url %> >github</a>)
        | <% } %>
      p <%= description %>
    .span4
      |<% if (!configured) { %>
      |<a href="<% print('/kickoff/'+ id); %>" class="btn btn-primary repo-action">Add</a>
      |<% } else { %>
      |<a class="btn btn-primary repo-action disabled">Add</a>
      |<% } %>
  .row-fluid
    .span12
      hr
</script>
