script.template#project-config-app(type="text/template")
  .span12
    .row-fluid
      .span8
        .row-fluid
          .span6
            h3 Available Repositories:
          .span4
            input.repoFilters(placeholder="Filter")
            a.btn.btn-inverse.start-manual-setup(href="/manual_setup") Manual Add
          .span2
            a.btn.refresh-button.repo-action
              i.fa.fa-refresh
        hr
        #repo-list
