<div class='grid grid-cols-2 gap-2 w-1/3 mb-2'>
  <button
    type='button'
    class='bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white text-sm py-1 px-2 border border-blue-500 hover:border-transparent rounded-full'
    {{on 'click' this.deploy}}
  >
    Deploy
  </button>

  <button
    type='button'
    class='bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white text-sm py-1 px-2 border border-blue-500 hover:border-transparent rounded-full'
    {{on 'click' this.test}}
  >
    Test
  </button>
</div>